@using sln_SingleApartment.ViewModels

@{
    //Layout = null;
    CMember db = Session[sln_SingleApartment.Models.CDictionary.welcome] as CMember;
    if (db != null)
    {

        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            @*<title>@ViewBag.Title - My ASP.NET Application</title>
                <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@

            <link rel="stylesheet" href="~/Content/Homepage/assets/css/main.css" />
            <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/PagedList.css" rel="stylesheet" />

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  @*分頁檔使用*@
            @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

            <script src="~/Content/Homepage/js/jquery.min.js"></script>
            <script src="~/Content/Homepage/js/jquery.scrolly.min.js"></script>
            <script src="~/Content/Homepage/js/skel.min.js"></script>
            <script src="~/Content/Homepage/js/util.js"></script>
            <script src="~/Content/Homepage/js/main.js"></script>
        </head>

        <body class="subpage">

            <!-- Header -->
            <header id="header">
                <nav class="left">
                    <a href="#menu"><span>Menu</span></a>
                </nav>
                <a href="#" class="logo"><img src="~/Content/Homepage/images/窩居字體設計7.png" width="200" style="margin-top:20px"></a>
                <nav class="right" style="margin-top:20px">
                    <a href="@Url.Action("LogOut","Member")" class="button alt">Log Out</a>
                </nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <ul class="links" id="isAdmin"></ul>

            </nav>

            <div style="min-height:75%">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h2>聯絡我們</h2>
                    <ul class="actions">
                        <li>
                            <span class="icon fa-phone"></span>
                            <a>(02)6631-8168</a>
                        </li>
                        <li>
                            <span class="icon fa-envelope"></span>
                            <a>singleapart@gmail.com</a>
                        </li>
                        <li>
                            <span class="icon fa-map-marker"></span> 06台北市大安區復興南路一段390號2樓
                        </li>
                    </ul>
                </div>
                <!--<div class="copyright">
                    &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
                </div>-->
            </footer>

            <script type="text/javascript">

       $(function () {
            var role = '@db.fRole';
            console.log("In this function");
            console.log(role);
            var el = document.getElementById("isAdmin");
            if (role == "Admin") {
                el.innerHTML =
                    '<li><a href="#">首頁</a></li>' +
                    '<li>@Html.ActionLink("房間管理" , "BackRoomManage" , "RoomBackend") </li>' +
                    '<li>@Html.ActionLink("商品管理", "ProductList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訂單管理", "BackupOrderList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訊息管理", "BackList", "BackInformation")</li>' +
                    '<li>@Html.ActionLink("活動管理", "List", "Activity")</li>' +
                    '<li>@Html.ActionLink("會員管理", "MemberCenter", "Member")</li >' +
                    '<li>@Html.ActionLink("數據分析", "PowerBI", "Activity")</li >' +
                    '<li>@Html.ActionLink("窩居留言板", "MessageList", "MailMessage")</li>';
            }
        });



            </script>

        </body>
    </html>

}
else
{
    RenderBody();
    <H1>
        <a href="@Url.Action("Login","Member")">請先登入!</a>
    </H1>
}

}