@using sln_SingleApartment.ViewModels

@{
    //Layout = null;
    CMember db = Session[sln_SingleApartment.Models.CDictionary.welcome] as CMember;
    if (db != null)
    {

        <!DOCTYPE html>
        <html>
        <head>
            <title>窩居公寓</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href="~/Content/PagedList.css" rel="stylesheet" />
            <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/HomePage/assets/css/main.css" rel="stylesheet" />

        </head>
        <body>
            <script src="~/Content/HomePage/js/jquery.min.js"></script>
            <script src="~/Content/HomePage/js/jquery.scrolly.min.js"></script>
            <!-- Header -->
            <header id="header">
                <nav class="left">
                    <a href="#menu"><span>Menu</span></a>
                </nav>
                <a href="#" class="logo"><img src="~/Content/HomePage/images/窩居字體設計7.png" width="200" style="margin-top:20px"></a>
                <nav class="right " style="margin-top:20px">
                    <a href="@Url.Action("LogOut","Member")" class="button alt">Log Out</a>
                </nav>

            </header>


            <!-- Menu -->
            <nav id="menu">
                <ul class="links" id="isAdmin"></ul>

            </nav>

            <div style="min-height:75%">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h2 style="margin-bottom:20px">聯絡我們</h2>
                    <ul class="actions">
                        <li>
                            <span class="icon fa-phone"></span>
                            <a>(02)6631-8168</a>
                        </li>
                        <li>
                            <span class="icon fa-envelope"></span>
                            <a>singleapart@gmail.com</a>
                        </li>
                        <li>
                            <span class="icon fa-map-marker"></span> 06台北市大安區復興南路一段390號2樓
                        </li>
                    </ul>
                </div>

            </footer>
            @RenderSection("scripts", required: false)

            <!-- Scripts -->
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

            <script src="~/Content/HomePage/js/util.js"></script>
            <script src="~/Content/HomePage/js/skel.min.js"></script>
            <script src="~/Content/HomePage/js/main.js"></script>

            <script type="text/javascript">

       $(function () {
            var role = '@db.fRole';
            console.log("In this function");
            console.log(role);
            var el = document.getElementById("isAdmin");
            if (role == "Admin") {
                el.innerHTML =
                    '<li><a href="#">首頁</a></li>' +
                    '<li>@Html.ActionLink("房 間 管 理" , "BackRoomManage" , "RoomBackend") </li>' +
                    '<li>@Html.ActionLink("商 品 管 理", "ProductList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訂 單 管 理", "BackupOrderList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訊 息 管 理", "BackList", "BackInformation")</li>' +
                    '<li>@Html.ActionLink("活 動 管 理", "Back_List", "Activity")</li>' +
                    '<li>@Html.ActionLink("會 員 管 理", "MemberCenter", "Member")</li >' +
                    '<li>@Html.ActionLink("數 據 分 析", "PowerBI", "Activity")</li >' +
                    '<li>@Html.ActionLink("窩 居 留 言 板", "MessageList", "MailMessage")</li>' +
                    '<li>@Html.ActionLink("窩 居 聊 天 室", "Chat", "Member")</li>';
            }
        });

            </script>
        </body>

    </html>

}
else
{
    RenderBody();
    <H1>
        <a href="@Url.Action("Login","Member")">請先登入!</a>
    </H1>
}

}