@model sln_SingleApartment.ViewModels.CActivityNew
@using sln_SingleApartment.ViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Information_Layout.cshtml";

    CMember member = Session[sln_SingleApartment.Models.CDictionary.welcome] as CMember;
    string memberName = member.fMemberName;
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
<link href="~/datetimepicker.css" rel="stylesheet" />
<script src="~/datetimepicker.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Create", "Activity", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="main" class="wrapper" style="padding:3em">
        <!--style="border:solid 1px;border-color:black"-->
        <div class="inner">
            <header class="align-center">
                <h1 style="font-size:2em;font-weight:700;line-height:1.3">新增活動</h1>
            </header>
            @*<h2></h2>*@


            @using (Html.BeginForm("Create", "Activity", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.SubCategoryDetailID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("subName", (SelectList)ViewBag.SelectList, "", new { Name = "subName" ,@id="subid"})
                        @Html.ValidationMessageFor(model => model.SubCategoryDetailID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <!--活動名稱-->
                <div class="form-group">
                    @Html.LabelFor(model => model.ActivityName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control", @id = "actname" } })
                        @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--活動人數-->
                <div class="form-group">
                    @Html.LabelFor(model => model.PeopleCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PeopleCount, new { htmlAttributes = new { @class = "form-control", @id = "people" } })
                        @Html.ValidationMessageFor(model => model.PeopleCount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--開始時間-->
                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="datetime-local" name="StartTime" id="StartTime">
                    </div>
                </div>

                <!--結束時間-->
                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <input type="datetime-local" name="EndTime" id="EndTime">
                    </div>
                </div>

                <!--活動地點-->
                <div class="form-group">
                    @Html.LabelFor(model => model.MeetingPoint, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MeetingPoint, new { htmlAttributes = new { @class = "form-control", @id = "location" } })
                        @Html.ValidationMessageFor(model => model.MeetingPoint, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--備註-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @id = "note" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--照片-->
                <div class="form-group">
                    @Html.LabelFor(model => model.ActivityImage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="myImage" />
                    </div>
                </div>

                <div style="width:800px" id="div_editor">
                    <textarea id="editor1" name="editor1">
                     Hello World! 這是 CKeditorf!
                     </textarea>
                </div>

                <br />

                <div>
                    <!--Button鍵-->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnEditMail" onclick="showEditor();" type="button" value="編輯郵件內容" />
                            <input id="btnSubmit" type="submit" value="送出" class="btn btn-default" onclick="showHtmlSendmail()" />
                            @*<input id="Button1" onclick="showHtmlSendmail();" type="button" value="取得編輯後內容, 並且發送mail" />*@
                        </div>
                    </div>
                </div>

                <div style="display:inline; margin-left:13.5em;font-size:18px;">
                    <input type="button" value="Demo鍵" onclick="FastCreate()" style="width:100px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                    @*<input type="button" value="管理員快速登入" onclick="AdminLogin()" style="width:150px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">*@
                </div>

            }

            <div>
                @Html.ActionLink("返回活動列表", "List")
            </div>
        </div>
    </section>
}


<script type="text/javascript">
    //$(function () {

    //});
    function FastCreate()
    {
        $("#subid").val("團購類");
        $("#actname").val("不只要排便順也要讓馬桶順");
        $("#people").val("100");
        $("#location").val("窩居公寓地下室的廁所");
        $("#note").val("見證奇蹟的時刻到了");
        $("#StartTime").val("2020/12/24 上午 10:20");
        $("#EndTime").val("2020/12/26 上午 10:20");
        

    }




    function SendMailData(p_data) {

        $.ajax({
            contentType: 'application/json',
            url: "/MailMessage/SendMail",
            type: "POST",
            data: JSON.stringify({
                strHtml: p_data
                //p_priority: f_priority,  //傳遞參數
                //p_data: f_data
            }),
            success: function (data) {
                console.log(data); //可先測試程式有無載入
                //$("#id_result").html(data);
                $("#id_result").html(data);
            }
        });
    }

    function showEditor() {
        CKEDITOR.replace('editor1');
        $("#div_editor").show();
        $("#btnSubmit").show();
        //修改郵件內容
        let ActivityName = $("#ActivityName").val();
        let PeopleCount = $("#PeopleCount").val();
        //console.log($("#StartTime").val());
        var ststart = new Date($("#StartTime").val().replace('T',' '));
        var stend = new Date($("#EndTime").val().replace('T', ' '));
        let StartTime = ststart.toLocaleString();
        let EndTime = stend.toLocaleString();
        let subName = $("#subName").val();
        let userName = '@memberName';
        let MeetingPoint = $("#MeetingPoint").val();

        console.log(ActivityName);

        let strHtml = ''
            + '<div style="width: 40em;display: block;margin: auto;border: 2px solid #63bcfc;border-radius: 10px;box-shadow: 5px 5px 5px 3px aliceblue;" >'
            + '<div class="card" style="width:auto">'
            + '<div style="margin-bottom:20px;margin-top:20px">'
            + '<div style="text-align:center;font-size:22px;font-weight:900;"><span style="color:#f6755e">活動資訊</span></div></div>'
            + '<div style="margin-left:10px;">'
            + '<div style="text-align:center;font-size:20px;font-weight:600;margin:30px">'
            + '<label>您好!您有興趣的 <span style="background-color:#ffff00">'+ subName +' </span> 活動上架了!名額有限，想參加活動請儘快報名!</label></div>'
            + '<dl style="font-weight:500"><dt>活動類別：' + subName + '</dt>'
            + '<dt>活動名稱：' + ActivityName + '</dt><dt>開始時間：' + StartTime + '</dt><dt>結束時間：' + EndTime + '</dt></dl>'
            + '<dl style="font-weight:500"><dt>地點：' + MeetingPoint + '</dt><dt>活動人數：' + PeopleCount + '</dt>'
            + '<dt>發起人：' + userName + '</dt></dl>'
            + '<div style="text-align:right;font-size:22px;font-weight:900;margin-bottom:15px;margin-right:20px"><span style="color:#f6755e">窩居公寓</span></div> '
            + '</div ></div ></div ></body >';
        console.log(strHtml);
        $("#editor1").html(strHtml);
    }

    function showHtmlSendmail() {
        //alert("hellooooooo");
        //取得編輯後的格式
        var content = CKEDITOR.instances.editor1.getData();
        //var content = CKEDITOR.instances["editor1"].getData();
        console.log(content);

        //執行發送 mail
        SendMailData(content);
    }

    //一啟動馬上執行
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();

        //送出先隱藏
        $("#btnSubmit").hide();
        //CKEDITOR.replace('editor1');
        $("#div_editor").hide();  //editor 先隱藏

        //let strHtml = ''
        //    + '<div style="width: 40em;display: block;margin: auto;border: 2px solid #63bcfc;border-radius: 10px;box-shadow: 5px 5px 5px 3px aliceblue;" >'
        //    + '<div class="card" style="width:auto">'
        //    + '<div style="margin-bottom:20px;margin-top:20px">'
        //    + '<div style="text-align:center;font-size:22px;font-weight:900;"><span style="color:#f6755e">活動資訊</span></div></div>'
        //    + '<div style="margin-left:10px;">'
        //    + '<div style="text-align:center;font-size:20px;font-weight:600;margin:30px">'
        //    + '<label>您好!您有興趣的 <span style="background-color:#ffff00">休閒類</span> 活動上架了!名額有限，想參加活動請儘快報名!</label></div>'
        //    + '<dl style="font-weight:500"><dt>活動類別：內容</dt>'
        //    + '<dt>活動名稱：內容</dt><dt>開始時間：內容</dt><dt>結束時間：內容</dt></dl>'
        //    + '<dl style="font-weight:500"><dt>地點：內容</dt><dt>活動人數：內容</dt>'
        //    + '<dt>發起人：內容</dt></dl>'
        //    + '<div style="text-align:right;font-size:22px;font-weight:900;margin-bottom:15px;margin-right:20px"><span style="color:#f6755e">窩居公寓</span></div> '
        //    + '</div ></div ></div ></body >';
        //$("#editor1").html(strHtml)

    });
</script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/humanity/jquery-ui.css" rel="stylesheet" />
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/humanity/jquery-ui.css" rel="stylesheet" />