@model IEnumerable<sln_SingleApartment.ViewModel.CActivity>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";
}

<head>
    <style>
        td {
            font-size: 18px;
            font-weight: 400;
            
        }
        .td1 {
            font-size: 22px;
            font-weight: 600;
            
        }

    </style>
</head>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<section id="main" class="wrapper" style="padding:3em">

    <div class="inner">
        <header class="align-center">
            <h1 style="font-size:2em;font-weight:700;line-height:1.3;margin-bottom:2em">當窩們同在一起</h1>
        </header>
        @using (Html.BeginForm())
        {
            <div >
                <label style="width:28em;margin-right:20px">
                    <label style="font-weight:600;font-size:20px;">活動類別:</label>
                    @Html.DropDownList("subName", null, "")
                </label>
                <label style="width:28em">
                    <label style="font-weight:600;font-size:20px">活動名稱:</label>
                    @Html.DropDownList("acName", null, "")
                </label>
                <label style="float:right;margin-top:2em">
                    <input style="line-height:2.5em;padding:0em;width:150px;height:50px;font-size:20px;font-weight:500;" type="submit" value="查 詢" />

                </label>
            </div>

            <div style="margin-top:20px">
                <label>
                    <a style="margin-right:10px" href="~/Activity/Create" class="btn btn-primary btn-lg">新增活動</a>
                    <a href="~/Activity/CartView" class="btn btn-info btn-lg">查看參加的活動</a>
                </label>


            </div>

        }
        <h2 style="font-weight:600 ;text-align:center;margin-bottom:20px">可參加活動</h2>

        @foreach (var item in Model)
        {
            <table  class="table" style="margin-left:0.5em;width:64em;border:solid 0.2em #f6755e;">

                <tr >
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        活動類別 : &nbsp;
                        <mark style="background-color:lightsalmon;background-size:auto">@Html.DisplayFor(modelItem => item.entity.ActivitySubCategory.ActivitySubCategoryName)</mark> 
                    </td>

                    <td class="td1" style="padding:1em 2em 1em 0em;">
                        活動名稱 : &nbsp;
                        <mark style="background-color:lightsalmon;background-size:auto">@Html.DisplayFor(modelItem => item.ActivityName)</mark>
                    </td>

                </tr>

                <tr >
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        開始時間:&nbsp;
                        <p>@Html.DisplayFor(modelItem => item.StartTime)</p>
                    </td>
                   
                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        結束時間:&nbsp;
                        <p> @Html.DisplayFor(modelItem => item.EndTime)</p>
                    </td>
                    
                </tr>
                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        發起人:&nbsp;
                        @Html.DisplayFor(modelItem => item.entity.tMember.fMemberName)
                    </td>
                    
                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        地點 : &nbsp;
                        @Html.DisplayFor(modelItem => item.MeetingPoint)
                    </td>
                    
                </tr>
                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        活動人數: &nbsp;
                        @{
                            int nowPeopleCount = 0;
                            for (int i = 0; i < ViewBag.subActivityIDCount.Count; i++)
                            {
                                if (item.ActivityID == ViewBag.subParticipantID[i])
                                {
                                    nowPeopleCount = ViewBag.subActivityIDCount[i];
                                }
                            }
                            @nowPeopleCount;
                        }
                        /
                        @Html.DisplayFor(modelItem => item.PeopleCount) 位
                    </td>

    
                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        狀態 :&nbsp;
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                </tr>

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        備註 :&nbsp;
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td></td>


                </tr>

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        圖片 :&nbsp;
                        <img src="@item.ActivityImage" width="150" height="110" />
                    </td>
                    <td></td>
                </tr>

                <tr>

                    <td></td>
                    <td class="td1" style="float:right">
                        @{
                            if (19 == @ViewBag.memberID || item.MemberID == @ViewBag.memberID)
                            {
                                @Html.ActionLink("修改", "Edit", new { id = item.ActivityID })
                            }
                            else
                            {
                                @("修改")
                            }
                        }
                        |
                        @{
                            if (item.Status == "可參加")
                            {
                                @Html.ActionLink("加入", "AddToCart_Session", new { id = item.ActivityID })
                            }
                            else if (item.Status == "人員已滿")
                            {
                                @Html.ActionLink("備取", "subActivity", new { id = item.ActivityID }, new { OnClick = "return confirm('確定要備取活動嗎?')" })
                            }
                            else
                            {
                                @("加入")

                            }
                            @*@Html.ActionLink("刪除", "Deleteacdb", new { id = item.ActivityID }, new { OnClick = "return confirm('確定要刪除嗎?')" })*@
                            @*<a href="~/Product/Create">編輯商品</a>*@
                            
                                    if (item.entity.ActivitySubCategory.ActivitySubCategoryName == "團購類")
                                    {

                                    <a href="@Url.Action("Create", "ProductBack", new { id = item.ActivityID })">編輯商品</a>
                                    }
                                    else
                                    {
                                    @("");
                                    }

                            
                        }
                        |

                        @{
                            if (item.entity.ActivitySubCategory.ActivitySubCategoryName == "團購類")
                            {
                                @Html.ActionLink("編輯商品", "Create", "ProductBack", null, new { id = item.ActivityID })
                            }
                            else
                            {
                                @("");
                            }
                        }
                    </td>



                </tr>

            </table>
                            }



    </div>
</section>
