@model IPagedList<sln_SingleApartment.ViewModel.CActivity>
@using PagedList;
@using PagedList.Mvc;
@using sln_SingleApartment.ViewModels
@using sln_SingleApartment.Models

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/NewBack_Layout.cshtml";
    CMember member = Session[sln_SingleApartment.Models.CDictionary.welcome] as CMember;
    string memberName = member.fMemberName;
    int memberid = member.fMemberId;
    SingleApartmentEntities db = new SingleApartmentEntities();
}

<head>
    <style>
        td {
            font-size: 18px;
            font-weight: 400;
        }

        .td1 {
            font-size: 22px;
            font-weight: 600;
        }
        #header{
            height:7em;
        }
    </style>
</head>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<section id="main" class="wrapper" style="padding:3em">

    <div class="inner">
        <header class="align-center">
            <h1 style="font-size:2em;font-weight:700;line-height:1.3;margin-bottom:2em">當窩們同在一起</h1>
        </header>
        @using (Html.BeginForm())
        {
            <div>
                <label style="width:28em;margin-right:20px">
                    <label style="font-weight:600;font-size:20px;">活動類別:</label>
                    @Html.DropDownList("subName", null, "")
                </label>
                <label style="width:28em">
                    <label style="font-weight:600;font-size:20px">活動名稱:</label>
                    @Html.DropDownList("acName", null, "")
                </label>
                <label style="float:right;margin-top:2em">
                    <input type="hidden" name="page" value="1" />
                    <input style="line-height:2.5em;padding:0em;width:150px;height:50px;font-size:20px;font-weight:500;" type="submit" value="查 詢" />

                </label>
            </div>

            <div style="margin-top:20px">
                <label>
                    <a style="margin-right:10px" href="~/Activity/Create" class="btn btn-primary btn-lg">新增活動</a>
                    <a href="~/Activity/CartView" class="btn btn-info btn-lg">查看參加的活動</a>
                    @*<a style="margin-right:10px" href="~/Activity/Create" class="btn btn-primary btn-lg">查看最新活動</a>*@


                </label>
                <label style="float:right;margin-top:2em">
                    <input style="line-height:2.5em;padding:0em;width:150px;height:50px;font-size:20px;font-weight:500;" type="submit" value="查看最新活動" name="newActivity">
                </label>
            </div>

        }
        <h2 style="font-weight:600 ;text-align:center;margin-bottom:20px">可參加活動</h2>

        @foreach (var item in Model)
        {
            <table class="table" style="margin-left:0.5em;width:64em;border:solid 0.2em #f6755e;">

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        活動類別 : &nbsp;
                        <mark style="background-color:lightsalmon;background-size:auto">@Html.DisplayFor(modelItem => item.entity.ActivitySubCategory.ActivitySubCategoryName)</mark>
                    </td>

                    <td class="td1" style="padding:1em 2em 1em 0em;">
                        活動名稱 : &nbsp;
                        <mark style="background-color:lightsalmon;background-size:auto">@Html.DisplayFor(modelItem => item.ActivityName)</mark>
                        <br />


                    </td>

                </tr>

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        開始時間:&nbsp;
                        <p>@Html.DisplayFor(modelItem => item.StartTime)</p>
                    </td>

                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        結束時間:&nbsp;
                        <p> @Html.DisplayFor(modelItem => item.EndTime)</p>
                    </td>

                </tr>
                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        發起人:&nbsp;
                        @Html.DisplayFor(modelItem => item.entity.tMember.fMemberName)
                    </td>

                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        地點 : &nbsp;
                        @Html.DisplayFor(modelItem => item.MeetingPoint)
                    </td>

                </tr>
                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        活動人數: &nbsp;
                        @{
                            int nowPeopleCount = 0;
                            for (int i = 0; i < ViewBag.subActivityIDCount.Count; i++)
                            {
                                if (item.ActivityID == ViewBag.subParticipantID[i])
                                {
                                    nowPeopleCount = ViewBag.subActivityIDCount[i];
                                }
                            }
                            @nowPeopleCount;
                        }
                        /
                        @Html.DisplayFor(modelItem => item.PeopleCount) 位
                    </td>


                    <td class="td1" style="padding:1em 0em 1em 0em;">
                        狀態 :&nbsp;
                        @{if
                                           (item.Status == "人員已滿")
                            {
                                <span style="color:red"> @Html.DisplayFor(modelItem => item.Status) </span>
                            }
                            else
                            {
                                <span style="color:black"> @Html.DisplayFor(modelItem => item.Status)</span>
                            }

                        }
                    </td>

                </tr>

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        備註 :&nbsp;
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td></td>


                </tr>

                <tr>
                    <td class="td1" style="padding:1em 0em 1em 3em;">
                        圖片 :&nbsp;
                        <img src="@item.ActivityImage" width="150" height="110" />
                    </td>
                    <td></td>
                </tr>

                <tr>

                    <td></td>
                    <td class="td1" style="float:right">
                        @{
                            if (3 == @ViewBag.memberID || item.MemberID == @ViewBag.memberID)
                            {
                                @Html.ActionLink("修改", "Edit", new { id = item.ActivityID })
                            }
                            else
                            {
                                @("修改")
                            }
                        }
                        |
                        @{
                            if (item.Status == "可參加"&&item.MemberID!=memberid)
                            {
                                @Html.ActionLink("加入", "AddToCart_Session", new { id = item.ActivityID }, new { OnClick = "return confirm('確認欲加入活動')" })
                            }
                            else if (item.Status == "人員已滿")
                            {
                                @Html.ActionLink("備取", "subActivity", new { id = item.ActivityID }, new { OnClick = "return confirm('確定要備取活動嗎?')" })
                            }
                            else
                            {
                                @("已加入");

                            }

                            @*@Html.ActionLink("刪除", "Deleteacdb", new { id = item.ActivityID }, new { OnClick = "return confirm('確定要刪除嗎?')" })*@
                            @*<a href="~/Product/Create">編輯商品</a>*@
                        }
                        |
                        @{


                            if (item.entity.ActivitySubCategory.ActivitySubCategoryName == "團購類")
                            {

                                <a href="@Url.Action("Create", "ProductBack", new { id = item.ActivityID })">編輯商品</a>
                            }
                            else
                            {
                                @("");
                            }
                            <br />
                            if (item.entity.MemberID != memberid)
                            {
                                <button type="button" class="btn btn-info AdminReply" style="height:unset" onclick="openModal(@item.ActivityID )">留言</button>
                            }
                            else
                            {
                                @("");
                            }

                            if (item.entity.MemberID == memberid)
                            {

                                Message m = db.Message.FirstOrDefault(p => p.AdditionField3 == item.ActivityID);
                                if (m != null)
                                {
                                    <button onclick="showMessage(@item.ActivityID);" class="btn btn-info AdminReply" style="height:unset;">查看留言</button>
                                }
                                else
                                {
                                    @("");
                                }
                            }
                            else
                            {
                                @("");
                            }


                            @*<button onclick="updateApply(@ViewBag.MessageID, '@ViewBag.GuestName', '@ViewBag.MessageSubject', '@ViewBag.MessageContent');" class="btn btn-info AdminReply" style="height:unset;">回覆</button>*@

                        }
                        @*<td class="col-md-8" style="padding-left:0;">*@

                        @*</td>*@




                    </td>



                </tr>

            </table>

        }

        @Html.PagedListPager(Model, Page => Url.Action("List", new { page = Page, subName = ViewBag.V_SubName }))

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">留言板</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for=recipient-name class="col-form-label">留言者</label>
                                <input type="text" class="form-control" id="id_guestname" value="@member.fMemberName" readonly>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">主旨</label>
                                <input type="text" class="form-control" id="id_subject">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">內文</label>
                                <textarea class="form-control" style="height:100px" id="id_content"></textarea>
                            </div>
                            <div class="form-group" id="group_apply">
                                <label for="message-text" class="col-form-label">回覆</label>
                                <textarea class="form-control" style="height:100px" id="id_apply"></textarea>
                            </div>
                            <span hidden="hidden">
                                <input type="text" class="form-control" id="id_acid">
                            </span>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" id="id_save">發送</button>
                    </div>
                </div>
            </div>
        </div>
        @*修改的modal*@
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">留言板</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group" hidden="hidden" >
                                <label for="recipient-name" class="col-form-label">留言者ID</label>
                                <input type="text" class="form-control" id="id_messageID2">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">留言者</label>
                                <input type="text" class="form-control" id="id_guestname2">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">主旨</label>
                                <input type="text" class="form-control" id="id_subject2">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">內文</label>
                                <textarea class="form-control" style="height:100px" id="id_content2"></textarea>
                            </div>
                            <div class="form-group" id="group_apply2">
                                <label for="message-text" class="col-form-label">回覆</label>
                                <textarea class="form-control" style="height:100px" id="id_apply2"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" id="id_save2">發送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    function openModal(p_ActivityID) {
        $("#exampleModal").modal('show');
        $("#id_acid").val(p_ActivityID);
        //新增留言
        //$("#id_guestname").attr('disabled', false);   //有效
        //$("#id_subject").attr('disabled', false);     //有效
        //$("#id_content").attr('disabled', false);     //有效
        $("#group_apply").hide();
    }

    function showMessage(p_id) {
        $("#exampleModal2").modal('show');
        
        let id = p_id;  //$("#id_acid").val();
        console.log(id);
        $.ajax({
            url: "/Activity/ActivityMessageShow",
            type: "POST",
            data: {
                activity_id: id
                // AdminContent: p_apply
            },
            success: function (data) {
                //console.log(data); //可先測試程式有無載入
                //console.log(JSON.parse(data));
                console.log(JSON.parse(data).MessageContent);

                let l_activityID = JSON.parse(data).AdditionField3;
                let l_GuestName = JSON.parse(data).GuestName;
                let l_subject = JSON.parse(data).MessageSubject;
                let l_MessageContent = JSON.parse(data).MessageContent;
                if (l_activityID != "0") {

                    $("#id_guestname2").val(l_GuestName)
                    $("#id_subject2").val(l_subject)

                    $("#id_content2").val(l_MessageContent)
                }

            },
            error: function () {
                alert("There has been an error~");
            }
        });

        //修改
        $("#id_guestname2").attr('disabled', true);   //失效
        $("#id_subject2").attr('disabled', true);     //失效
        $("#id_content2").attr('disabled', true);     //失效
        ////$("#group_apply").show();
        $("#id_messageID2").val(p_id);  //改成給 activity id
        //$("#id_guestname2").val(p_GuestName);
        //$("#id_subject2").val(p_MessageSubject);
        //$("#id_content2").val(p_MessageContent);
    }

    $("#id_save").click(function () {
        let p_guestname = $("#id_guestname").val();
        let p_subject = $("#id_subject").val();
        let p_content = $("#id_content").val();
        let p_acid = $("#id_acid").val();
        //let p_apply = $("#id_apply").val();
        //console.log(p_subject);
        $.ajax({
            url: "/Activity/ActivityMessageCreate",
            type: "POST",
            data: {
                GuestName: p_guestname,
                MessageSubject: p_subject,  //傳遞參數
                InformationCategoryID: "800",  //活動類
                MessageContent: p_content,
                AdditionField3: p_acid
                // AdminContent: p_apply
            },
            success: function (data) {
                //console.log(data); //可先測試程式有無載入
                //$("#container").html(data);

                //List 資料重查
                //window.location.href = "/MailMessage/MessageList";
                //$.ajax({
                //    type: "POST",
                //    url: "/MailMessage/MessageList",
                //    success: function (data) {
                //    console.log(data); //可先測試程式有無載入
                //    //$("#container").html(data);
                //    }
                //});
            },
            error: function () {
                alert("There has been an error~");
            }
        });

        $("#exampleModal").modal('hide');
    })

    $("#id_save2").click(function () {
        let l_messageID2 = $("#id_messageID2").val();  //這是 activity id 
        let l_messagerequest = $("#id_apply2").val();
        console.log("l_messageID2:"+l_messageID2);

        $.ajax({
            url: "/Activity/ActivityMessageEdit",
            type: "POST",
            data: {
                MessageID: l_messageID2,
                AdminContent: l_messagerequest
            },
            success: function (data) {
                //console.log(data); //可先測試程式有無載入
                //$("#container").html(data);

                //List 資料重查
                //window.location.href = "/MailMessage/MessageList";
                //$.ajax({
                //    type: "POST",
                //    url: "/MailMessage/MessageList",
                //    success: function (data) {
                //    console.log(data); //可先測試程式有無載入
                //    //$("#container").html(data);
                //    }
                //});
            },
            error: function () {
                alert("There has been an error~");
            }
        });

        $("#exampleModal2").modal('hide');
    })

        //109-12-17 一啟動即執行
    $(function () {
        //console.log($("#id_OrderType").val());
        //這一行很重要
        $("#subName").val("@ViewBag.V_SubName");
    });
</script>