@using sln_SingleApartment.ViewModels
@{ Layout = @"~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";}
@{
    ViewBag.Title = "Home";
    CMember db = Session[sln_SingleApartment.Models.CDictionary.welcome] as CMember;
    if (db != null)
    {
<head>
    <style>
        p {
            font-family: 'Adobe Fan Heiti Std';
        }

        #banner {
            padding: 14em 0 14em 0;
        }
    </style>
</head>
<body>
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <h1>@db.fMemberName，歡迎來到窩居</h1>
            <p>我 們 希 望 這 裡 成 為 所 有 人 心 目 中 的 理 想 國 度</p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly" style="font-family: 'Adobe Fan Heiti Std';">我 們 的 服 務</a></li>
            </ul>
        </div>
    </section>
    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item left">
                <div>
                    <h3>窩租房</h3>
                    <p>明亮寬敞、簡潔便利、配合捷運生活圈<br />享受窩居各式便利服務</p>
                </div>
                <div>
                    <h3>窩商城</h3>
                    <p>為您代購各式生活用品、直送到房門<br />還有各種團購活動等你發起</p>
                </div>
            </div>
            <div class="flex-item image fit round">
                <img src="~/Content/HomePage/images/pic01.jpg" alt="" />

            </div>
            <div class="flex-item right">
                <div>
                    <h3>窩活動</h3>
                    <p>孤單寂寞覺得冷？<br />來邀請住戶一起參加你的活動吧！</p>
                </div>
                <div>
                    <h3>窩通知</h3>
                    <p>常常忘東忘西？<br />窩通知讓您不錯過任何資訊！</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <h2>窩居理念</h2>
            <figure>
                <blockquote>
                    "希望每個找不到歸屬感、迷失自我的人<br />都能在窩居找到家的感覺"
                </blockquote>
                <footer>
                    <cite class="author">吳哥</cite>
                    <cite class="company">CEO, 窩居</cite>
                </footer>
            </figure>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item box">
                <div class="image fit">
                    <img src="~/Content/Room/images/room/房型_溫馨家庭房.jpg" />

                </div>
                <div class="content">
                    <h3>溫馨家庭房</h3>
                    <p>適合小家庭<br />豐富收納空間供您使用</p>
                </div>
            </div>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="~/Content/Room/images/room/房型_單身套房.jpg" />

                </div>
                <div class="content">
                    <h3>單身套房</h3>
                    <p>適合單獨打拚奮戰的你<br />永遠不會感到寂寞</p>
                </div>
            </div>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="~/Content/Room/images/room/房型_溫馨甜蜜套房.jpg" />

                </div>
                <div class="content">
                    <h3>溫馨甜蜜套房</h3>
                    <p>給想沉浸在最甜蜜兩人世界的你<br />享受不被打擾的空間</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Scripts -->


    <script>
        $(function () {
            var role = '@db.fRole';
            console.log("In this function");
            console.log(role);
            var el = document.getElementById("isAdmin");
            if (role == "Admin") {
                el.innerHTML =
                   '<li><a href="#">首 頁</a></li>' +
                    '<li>@Html.ActionLink("房 間 管 理" , "BackRoomManage" , "RoomBackend") </li>' +
                    '<li>@Html.ActionLink("商 品 管 理", "ProductList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訂 單 管 理", "BackupOrderList", "ProductBack")</li>' +
                    '<li>@Html.ActionLink("訊 息 管 理", "BackList", "BackInformation")</li>' +
                    '<li>@Html.ActionLink("活 動 管 理", "Back_List", "Activity")</li>' +
                    '<li>@Html.ActionLink("會 員 管 理", "List", "Member")</li >' +
                    '<li>@Html.ActionLink("數 據 分 析", "PowerBI", "Activity")</li >' +
                    '<li>@Html.ActionLink("窩 居 留 言 板", "MessageList", "MailMessage")</li>';
            }
        });
    </script>


</body>

    }

}
