@using sln_SingleApartment.ViewModels;
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@{ Layout = @"~/Views/Shared/HomePage/_LayoutLogin.cshtml";}
@{

    ViewBag.Title = "LogIn";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed=" ">

        <div class="login-right" style="background-image: url('../../Content/LogIn/assests/images/02.png');background-size:100em">
            <div class="container" style="background-color:aliceblue;padding:80px 0px 80px 0px;">
                <h3 style="color:#f6755e">LOGIN</h3>
                <div class="login-top">

                    <div class="form-info">
                        <form method="post" id="frm" name="frm" onclick="return false">
                            <label style="margin-bottom:10px;font-size:20px">帳號</label>
                            <input type="text" class="text" id="account" placeholder="請輸入帳號 or Email 或 手機號碼" required name="txtaccount" autocomplete="off">

                            <label style="margin-bottom:10px;font-size:20px">密碼</label>

                            <input type="password" id="pwd" placeholder="請輸入密碼" required name="txtpwd">
                            <!--我不是機器人-->
                            <div>
                                <div class="g-recaptcha" data-sitekey="6Lc0YQwaAAAAAAMfEU8TSCYg-O93RvqCj8vhs4qI"></div>
                                @*<div>
                                              @Html.RecaptchaV2("6LdQaxATAAAAAB7UuxNH4lIoC_0wcJE3scx-QJ5v")
                                    
                                </div>*@
                                @*<div class="form-group">
                                    @Html.MathCaptcha()
                                </div>*@
                            </div>
        
                            
                            <ul class="login-icons"style="margin-top:1em;" >

                                @ViewBag.msg
                                @ViewBag.Robot
                                @ViewBag.ErrorMessage
                                <li style="margin-right:20em;padding-left:0em;width:43%">
                                    <a href="#" class="go" onclick="GoogleLogin()"><i class="google"></i><span>Google +</span></a>
                                </li>
                            </ul>
                            <label class="button">
                                <input type="submit" value="會員登入" style="font-size:18px;padding:0px 0px 10px 0px;;line-height:15px">
                            </label>

                            <div style="display:inline; margin-left:5em;margin-top:2.5em;font-size:18px;">
                                <input type="button" value="Bob" onclick="FastLogin()" style="width:100px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                                <input type="button" value="Eva" onclick="veryFastLogin()" style="width:100px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                                <input type="button" value="Tommy" onclick="TommyLogin()" style="width:100px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                                <input type="button" value="管理員登入" onclick="AdminLogin()" style="width:120px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                            </div>

                            <div class="create">
                                <h4 style="color:#25a2c3;font-weight:600;font-size:30px">歡迎來到窩居！</h4>
                                <a style="background-color:#25a2c3;border-radius:4px;width:150px;height:60px;text-align:center;line-height:35px" class="hvr-sweep-to-right" href="../Member/Register"><label style="color:white">註冊帳號</label></a>
                                <div class="clearfix"> </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </body>

}
<script>
    function FastLogin() {
        $("#account").val("Bob01");
        $("#pwd").val("Bob01");
    }
    function AdminLogin() {
        $("#account").val("admin");
        $("#pwd").val("admin");
    }
    function veryFastLogin() {
        $("#account").val("Eva04");
        $("#pwd").val("Eva04");
    }
    function TommyLogin() {
        $("#account").val("Tommy16");
        $("#pwd").val("Tommy16");
    }
</script>

<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};HandleGoogleApiLibrary()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

<script type="text/javascript">
   //google
    //localhost
    //let Google_appId = "939804967327-o1ltm8bkp3m31v16tpmuthrg5g1psutk.apps.googleusercontent.com";
    //http:localhost:1080
    let Google_appId = "939804967327-uk5ka6s2kl2r2bpq8u5mvpkbp22j85b0.apps.googleusercontent.com";
    function HandleGoogleApiLibrary() {
    
        // Load "client" & "auth2" libraries
        gapi.load('client:auth2', {
            callback: function () {
                // Initialize client & auth libraries
                gapi.client.init({
                    clientId: Google_appId,
                    scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me',

                }).then(
                    function (success) {
                        // You can now make API calls
                        console.log("Google Libraries are initialized successfully");
                    },
                    function (error) {

                        console.log(error);
                    }
                );
            },
            onerror: function () {

                console.log("Failed to load libraries");
            }
        });
    }

    function GoogleLogin() {

        gapi.auth2.getAuthInstance().signIn().then(
            function (success) {

                let member = JSON.stringify(success["xt"]);
                console.log(member);
                 $.ajax({
                 url:'@Url.Action("GoLogin")',
                 type: 'POST',
                 data: { returnUrl: member },
                 async: false,
        success: function (data) {
            console.log('測試123' + member);
            console.log(data);
            //console.log("test");
            location.href = "/Member/Home"
        }

         });
            },
            function (error) {
                console.log(error);
            }
        );
    }
</script>