
@model sln_SingleApartment.ViewModels.CMember
@{ Layout = @"~/Views/Shared/HomePage/_LayoutLogin.cshtml";}
@{
    ViewBag.Title = "Register";


}
<head>
    <style>

        .form-info input[type="text"], .form-info input[type="password"],
        input [type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
            outline: none;
            background: none;
            color: #a3a3a3;
            width: 100%;
            padding: 10px 10px;
            border: none;
            font-size: 0.9em;
            border: 1px solid #eee;
            margin: 0 0 1em;
        }


        .checkbox label {
            min-height: 20px;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }
    </style>

</head>
@using (Html.BeginForm("Register", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">


        <div class="login-right" style="background-image: url('../../Content/LogIn/assests/images/02.png');background-size:50em auto">
            <div class="container" style="background-color:aliceblue;padding:80px 0px 80px 0px;margin:auto">
                <h3 style="color:#f6755e">REGISTER</h3>

                <div class="login-top">
                    <form method="post" id="frm" name="frm" onclick="return false">

                        <div class="form-info">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!--姓名-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">會員姓名</label>

                                <input type="text" name="fMemberName" id="fMemberName" placeholder="請輸入您的姓名"  autocomplete="off" onchange="Usercheck()" onfocus="focusName()" required/>
                                @*<div class="col-md-10"></div>*@
                                <label id="StatusName" />
                            </div>



                            <!--帳號-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">會員帳號</label>
                                <input type="text" name="fAccount" id="Account" placeholder="請輸入帳號" autocomplete="off" onchange="Accountcheck()" required />
                                <label id="StatusAccount" />
                            </div>

                            <!--密碼-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">會員密碼</label>
                                @Html.EditorFor(model => model.fPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入密碼",@id="pwd" } })
                                @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })

                            </div>
                            <!--信箱-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">電子信箱</label>
                                <input type="text" name="fEmail" id="Email" placeholder="請輸入電子信箱" autocomplete="off" onchange="Emailcheck()" required />
                                <label id="StatusEmail" />
                            </div>

                            <!--電話-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">連絡電話</label>
                                <input type="text" name="fPhone" id="tel" placeholder="請輸入手機號碼" autocomplete="off" onchange="Phonecheck()" required />
                                <label id="StatusPhone" />

                            </div>

                            <!--生日-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">出生日期</label>
                                <input type="text" name="fBirthDate" id="bd" placeholder="西元/月/日" autocomplete="off" required style="font-size:18px;font-weight:500;color:#9f9e9e;background:none" />
                                @Html.ValidationMessageFor(model => model.fBirthDate, "", new { @class = "text-danger" })
                            </div>
                            <!--年齡-->
                            <div class="form-group">
                                <label style="margin-bottom:10px;font-size:20px">年齡</label>
                                <input type="text" name="fAge" id="age" placeholder="請輸入年齡" autocomplete="off" required style="font-size:18px;font-weight:500;color:#9f9e9e;background:none" />
                                @Html.ValidationMessageFor(model => model.fAge, "", new { @class = "text-danger" })
                            </div>
                            <!--性別-->
                            <div class="form-group" id="sex">
                                <label style="margin-bottom:10px;font-size:20px">性別</label>
                                <select id="fSex" name="fSex" class="form-select" style="font-size:18px;font-weight:500;color:#9f9e9e;background:none">
                                    <option value="0" style="display:none">請選擇性別...</option>
                                    <option value="男性">&bull; 男性</option>
                                    <option value="女性">&bull; 女性</option>
                                    <option value="第三性">&bull; 第三性</option>
                                </select>
                            </div>


                            <!--職業-->
                            <div class="form-group" id="car">
                                <label style="margin-bottom:10px;font-size:20px">職業</label>
                                <select id="fCareer" name="fCareer" class="form-select" style="font-size:18px;font-weight:500;color:#9f9e9e;background:none">
                                    <option value="0" style="display:none;">請選擇職業...</option>
                                    <option value="1">&bull; 經營/人資類</option>
                                    <option value="2">&bull; 行政/總務/法務類</option>
                                    <option value="3">&bull; 行銷/企劃/專案管理類</option>
                                    <option value="4">&bull; 客服/門市/業務/貿易類</option>
                                    <option value="5">&bull; 餐飲/旅遊/美容美髮類</option>
                                    <option value="6">&bull; 資訊軟體系統類</option>
                                    <option value="7">&bull; 操作/技術/維修類</option>
                                    <option value="8">&bull; 資材/物流/運輸類</option>
                                    <option value="9">&bull; 營建/製圖類</option>
                                    <option value="10">&bull; 傳播藝術/設計類</option>
                                    <option value="11">&bull; 文字/傳媒工作類</option>
                                    <option value="12">&bull; 醫療/保健服務類</option>
                                    <option value="13">&bull; 學術/教育/輔導類</option>
                                    <option value="14">&bull; 研發相關類</option>
                                    <option value="15">&bull; 生產製造/品管/環衛類</option>
                                    <option value="16">&bull; 軍警消/保全類</option>
                                    <option value="17">&bull; 財會/金融專業類</option>
                                </select>
                            </div>
                            <!--12/06 修改-->
                            <!--薪水-->
                            <div class="form-group" id="salary">
                                <label style="margin-bottom:10px;font-size:20px">年薪</label>
                                <select id="fSalary" name="fSalary" class="form-select" style="font-size:18px;font-weight:500;color:#9f9e9e;background:none">
                                    <option value="0" style="display:none">請選擇年薪...</option>
                                    <option value="小於(等於)50萬">&bull; 小於(等於)50萬</option>
                                    <option value="50-100萬">&bull; 50-100萬</option>
                                    <option value="大於50萬">&bull; 大於100萬</option>
                                </select>

                            </div>
                            <!--1217修-->
                            <!--活動訊息-->
                            @*<div class="form-group" id="salary">
            <label style="margin-bottom:10px;font-size:20px">是否願意接收窩居訊息</label>
            <select id="fActivityMessage" name="fActivityMessage" class="form-select" style="font-size:18px;font-weight:500;color:#9f9e9e;background:none">
                <option value="0" style="display:none">是否願意接收訊息...</option>
                <option value="TRUE">&bull; 我願意接收窩居訊息</option>
                <option value="FALSE">&bull; 不了，暫時先不接受</option>

            </select>

        </div>*@
                            <div class="form-group" id="mesg">
                                <label style="margin-bottom:10px;font-size:20px">請選擇欲接收的窩居訊息</label>


                                <div class="form-check form-check-inline" style="margin-bottom:20px;">
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage1" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-label" for="fActivityMessage1">娛樂類</label>
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage2" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-labe2" for="fActivityMessage2">知識類</label>
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage3" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-labe3" for="fActivityMessage3">技藝類</label>

                                </div>
                                <div class="form-check form-check-inline" style="margin-bottom:20px;">
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage4" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-labe4" for="fActivityMessage4">健身類</label>
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage5" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-labe5" for="fActivityMessage5">休憩類</label>
                                    <input class="form-check-input" type="checkbox" id="fActivityMessage6" name="fActivityMessage" value="TRUE">
                                    <label style="font-weight:600" class="form-check-labe6" for="fActivityMessage6">團購類</label>
                                </div>

                                <!--窩居EMAIL-->
                                <div class="form-group" id="salary">
                                    <label style="margin-bottom:10px;font-size:20px">是否願意收到窩居Email</label>
                                    <select id="fActivityEmail" name="fActivityEmail" class="form-select" style="font-size:18px;font-weight:500;color:#9f9e9e;background:none">
                                        <option value="0" style="display:none">是否願意接收窩居Email...</option>
                                        <option value="TRUE">&bull; 我願意接收窩居Email</option>
                                        <option value="FALSE">&bull; 不了，暫時先不接受</option>

                                    </select>

                                </div>
                                <!--照片-->
                                <div class="form-group" id=" pic">
                                    <label style="margin-bottom:10px;font-size:20px">會員照片</label>
                                    <input type="file" name="myImage" />
                                </div>
                                <br />

                                <!--第三方按鈕-->
                                <ul class="login-icons" style="float:initial;">
                                    <li style="padding-left:0em;width:43%;margin-right:20em">
                                        <a href="#" class="go"><i class="google"></i><span>Google +</span></a>
                                    </li>

                                </ul>


                            </div>
                            <!--註冊-->
                            <label class="Button" style="float:left;border-radius:4px;width:30%;text-align:center">
                                <input style="padding:0" type="submit" value="註冊會員">
                                @ViewBag.Message
                            </label>
                            <label class="label-info" style="float:right;border-radius:1.5em;margin-top:1em;">
                                <input style="width:130px; height:50px; padding:0; line-height:45px;background-color:#87CEEB" type="button" value="Damo" onclick="demo()">
                                @ViewBag.Message

                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
    <link href="~/Content/LogIn/assests/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/LogIn/assests/js/jquery.min.js"></script>
    <script src="~/Content/LogIn/assests/js/scripts.js"></script>
    <link href="~/Content/LogIn/assests/css/styles.css" rel="stylesheet">
    <link href="~/Content/LogIn/assests/css/style.css" rel="stylesheet" type="text/css" media="all">
}

<script>
    function demo() {
        $("#fMemberName").val("志明");
        $("#Account").val("Bob01");
        $("#pwd").val("Bob01");
        $("#Email").val("Singleapart");
        $("#tel").val("0972-569-654");
        $("#bd").val("1995/08/01");
        $("#age").val("25歲");
        
    }




    function Usercheck() {
        $("#StatusName").html("檢查是否重複中.....");
        $.post("@Url.Action("CheckName", "Member")",
            {
                cn: $("#Username").val()
            },
            function (data) {
                if (data == 0) {

                    $("#StatusName").html('<font color="Green"> 此姓名可以使用!</font>');
                    $("#Username").css("border-coloe", "Green");
                }
                else {
                    $("#StatusName").html('<font color="Red"> 姓名重複，請重新輸入!</font>');
                    $("#Username").css("border-coloe", "Red");
                    function focusName() {
                        document.getElementById('Username').innerHTML = '欄位已經被 Focus';
                    }
                }
            });
    }

    function Accountcheck() {
        $("#StatusAccount").html("檢查是否重複中.....");
        $.post("@Url.Action("CheckAccount", "Member")",
            {
                ca: $("#Account").val()
            },
            function (data) {
                if (data == 0) {

                    $("#StatusAccount").html('<font color="Green">此帳號可以使用!</font>');
                    $("#Account").css("border-coloe", "Green");
                }
                else {
                    $("#StatusAccount").html('<font color="Red"> 帳號已重複，請重新輸入!</font>');
                    $("#Account").css("border-coloe", "Red");
                }
            });
      }

    function Emailcheck() {
        $("#StatusEmail").html("檢查是否重複中.....");
        $.post("@Url.Action("CheckEmail", "Member")",
            {
                ce: $("#Email").val()
            },
            function (data) {
                if (data == 0) {

                    $("#StatusEmail").html('<font color="Green"> 此信箱可以使用!</font>');
                    $("#Email").css("border-coloe", "Green");
                }
                else {
                    $("#StatusEmail").html('<font color="Red"> 信箱已重複，請重新輸入!</font>');
                    $("#Email").css("border-coloe", "Red");
                }
            });
      }

    function Phonecheck() {
        $("#StatusPhone").html("檢查是否重複中.....");
        $.post("@Url.Action("CheckPhone", "Member")",
            {
                cp: $("#tel").val()
            },
            function (data) {
                if (data == 0) {

                    $("#StatusPhone").html('<font color="Green"> 此電話可以使用!</font>');
                    $("#tel").css("border-coloe", "Green");
                }
                else {
                    $("#StatusPhone").html('<font color="Red"> 手機號碼已重複，請重新輸入!</font>');
                    $("#tel").css("border-coloe", "Red");

                }
            });
      }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
