
@model List<sln_SingleApartment.ViewModels.COrderDetailsViewModel>

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/Product/_LayoutPageIndex.cshtml";
}
@functions
   {
    public string DisplayImage(byte[] imageData)
    {
        string imageSrc = null;
        if (imageData != null)
        {
            string base64Str = Convert.ToBase64String(imageData);
            imageSrc = "data:img/jpg;base64," + base64Str;
        }
        return imageSrc;
    }
}

<!-- pages-title-start -->
<section class="contact-img-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">Checkout</h2>
                    <p><a href="#">Home</a> | Checkout</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pages-title-end -->
<!-- checkout content section start -->
<div class="checkout-area">
    @*會員*@
    @*================================================================================*@
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="text">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active ano complete">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab"></a>
                            <span>填寫資料</span>@*11/28新增*@
                        </li>
                        <li role="presentation" class="ano ">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"></a>
                            <span>付款方式</span>@*11/28新增*@
                        </li>
                        <li role="presentation" class="ano la">
                            <a href="#message" aria-controls="message" role="tab" data-toggle="tab"></a>
                            <span>完成付款</span>@*11/28新增*@
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <form action="#">
                                    <div class="checkbox-form">
                                        <div class="col-md-12">
                                            <h3 class="checkbox9">填寫資料</h3>
                                        </div>


                                        @*@*會員姓名*@
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                    姓名:
                                                    <em>*</em>
                                                </label>
                                                <input class="form-control" type="text" required name="TXTMEMBERNAME" value="Bob">
                                            </div>
                                        </div>
                                        @*會員信箱*@
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                    會員信箱
                                                    <em>*</em>
                                                </label>
                                                <input class="form-control" type="email" required name="TXTPHONE" value="Bob@gmail.com">
                                            </div>
                                        </div>
                                        @*手機號碼*@
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                    會員手機號碼
                                                    <em>*</em>
                                                </label>
                                                <input class="form-control" type="tel" required name="TXTEMAIL" value="0912345678">
                                            </div>
                                        </div>
                                        @*@*房號*@
                                        @*<div class="col-md-12">
                                                <label class="l-contact">
                                                    幾號房
                                                    <em>*</em>
                                                    <div class="di-na bs tana">
                                                        <input class="form-control" type="text" required="" name="name" placeholder="EX:(104)">
                                                    </div>
                                                </label>
                                            </div>
                                            @*出生日期*@
                                        @*<div class="col-md-6">
                                                <div class="country-select">
                                                    <label class="l-contact">
                                                        出生日期
                                                        <em>*</em>
                                                    </label>
                                                    <select class="email s-email s-wid">
                                                        <option>mymensingh</option>
                                                        <option>dhaka</option>
                                                        <option>khulna</option>
                                                        <option>kumillah</option>
                                                        <option>chadpur</option>
                                                    </select>
                                                </div>
                                            </div>*@


                                    </div>
                                </form>
                            </div>
                            <div class="row">

                                <div class="col-md-12 text-center">
                                    <p class="checkout-coupon">
                                        <input type="submit" value="下一步" onclick="tonext()">
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        @*================================================================================================*@
                        @*付款方式*@
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="top-check-text">
                                        <div class="check-down">
                                            <h3 class="checkbox9">確認資料</h3>
                                            <span><a class="ro-edit-customer-info" href="#">Edit</a></span>
                                        </div>
                                        <div class="ro-content2">
                                            <div class="ro-info2">
                                                <p>
                                                    <span>Email 信箱： </span>
                                                    Bob@gmail.com
                                                </p>
                                            </div>
                                            <div class="ro-info2">
                                                <p>
                                                    <span>房號： </span>
                                                    A201
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="#" class="all-payment" method="post">
                                        <div class="all-paymet-border">
                                            <div class="payment-method">
                                                <div class="pay-top sin-payment">
                                                    <input id="payment_method_1" class="input-radio" type="radio" value="歐付寶" checked="checked" name="payment_method">
                                                    <label for="payment_method_1"> 歐付寶 </label>
                                                    <div class="payment_box payment_method_bacs">
                                                        <p>歐付寶提供多元的快速收款及付款服務！讓您手機即是錢包，出門在外購物秒付，只帶手機就能輕鬆消費</p>
                                                    </div>
                                                </div>
                                                <div class="pay-top sin-payment">
                                                    <input id="payment_method_2" class="input-radio" type="radio" value="綠界科技" name="payment_method">
                                                    <label for="payment_method_2"> 綠界科技  </label>
                                                    <div class="payment_box payment_method_bacs">
                                                        <p>綠界科技Ecpay是第三方支付領導品牌，提供金流、物流、電子發票、 跨境電商、資安聯防一站購足服務</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-row place-order">
                                                
                                                <input class="button alt" type="submit" value="下訂">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="message">
                            <div class="last-check">
                                <h3 class="checkbox9">完成付款</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*===========================================================================================*@
            @*訂單明細*@
            <div class="col-md-5 col-sm-12">
                <div class="ro-checkout-summary">
                    <div class="ro-title">
                        <h3 class="checkbox9">訂單內容</h3>
                    </div>
                    @foreach (var item in Model)
                    {
                        string pic = item.ProductID.ToString() + ".jpg";
                        <div class="ro-body">
                            <div class="ro-item">
                                <div class="ro-image">
                                    <a href="#">
                                        <img src="@DisplayImage(item.prodpic.ProductPicture)" alt="">
                                    </a>
                                </div>
                                <div>
                                    <div class="tb-beg">
                                        <a href="#">@item.ProductName</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="ro-price">
                                        <span class="amount">@item.ProductPrice 元</span>
                                    </div>
                                    <div class="ro-quantity">
                                        <strong class="product-quantity">X  @item.Quantity</strong>
                                    </div>
                                    <div class="product-total">
                                        <span class="amount">@item.TotalPrice 元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="ro-footer">
                        <div>
                            <p>
                                總計
                                <span>
                                    <strong>
                                        <span class="amount">@Model.Sum(p => p.TotalPrice)</span>
                                    </strong>
                                </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            @*========================================================================================*@
        </div>
    </div>
</div>
<!-- checkout  content section end -->
<script>
    function tonext() {
        $('.nav-tabs').children().eq(1).addClass("active").siblings().removeClass("active");
        $('#profile').addClass("active").siblings().removeClass("active");
       
    }
</script>