@{ Layout = @"~/Views/Shared/Product/_LayoutPageIndex.cshtml"; }
@model sln_SingleApartment.ViewModels.ShopViewModel



@*顯示照片*@
@functions
   {
    public string DisplayImage(byte[] imageData)
    {
        string imageSrc = null;
        if (imageData != null)
        {
            string base64Str = Convert.ToBase64String(imageData);
            imageSrc = "data:img/jpg;base64," + base64Str;
        }
        return imageSrc;
    }
}
@*<script>

    @*加到購物車*@
@*function AddToCart() {
            var pdID = $(event.currentTarget).prop("ProductName");
            $.ajax({
                url: '@Url.Action("AddToCart", "Product")',
                dataType: 'html',
                data: {
                    ProductID: pdID,
                },
                type: 'POST',
                success: function (data) {
                    window.alert("已加入購物車！");
                    $(".drop-cart").html(data);
                }
            })
        }

    </script>*@
<!-- slider-section-start -->
<section class="slider-main-area">
    
    <div class="main-slider an-si">
        <div class="bend niceties preview-2 hm-ver-1">
            <div id="ensign-nivoslider-2" class="slides">
                <img src="~/Content/Product/img/slider/1.png" alt="" title="#slider-direction-3" />
                <img src="~/Content/Product/img/slider/2.png" alt="" title="#slider-direction-1" />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-3" class="t-cn slider-direction Builder">
                <div class="slide-all">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Men’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction Builder">
                <div class="slide-all slide2">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <h2 class="title5">new collection</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <h2 class="title6">Women’s Fashion</h2>
                    </div>
                    <!-- layer 2 -->
                    <div class="layer-2">
                        <p class="title0">Save Up To 40% Off</p>
                    </div>
                    <!-- layer 3 -->
                    <div class="layer-3">
                        <a class="min1" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #region 熱門商品-->
<!-- new-products section start -->
<section class="featured-products single-products section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h3>團購商品</h3>
                    <div class="section-icon">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="product-tab nav nav-tabs">
                    <ul>
                        <li><a data-toggle="tab" href="#all">全部商品</a></li>
                        <li><a data-toggle="tab" href="#clothings">@Model.MainCategory.FirstOrDefault(p => p.ProductMainCategoryID == 1).ProductMainCategoryName</a></li>
                        <li><a data-toggle="tab" href="#shoes">@Model.MainCategory.FirstOrDefault(p => p.ProductMainCategoryID == 2).ProductMainCategoryName</a></li>
                        <li><a data-toggle="tab" href="#bags">@Model.MainCategory.FirstOrDefault(p => p.ProductMainCategoryID == 3).ProductMainCategoryName</a></li>
                        <li><a data-toggle="tab" href="#accessories">@Model.MainCategory.FirstOrDefault(p => p.ProductMainCategoryID == 4).ProductMainCategoryName</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row tab-content">
            <!-- #region 全部商品-->
            <div class="tab-pane  fade in active" id="all">
                <div id="tab-carousel-1" class="re-owl-carousel owl-carousel product-slider owl-theme">
                    @{ foreach (var item in Model.product.Where(Q => Q.Discontinued == "N"))
                        {
                           
                            string quickview = "quick-view" + item.ProductID.ToString();
                            <div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a>
                                            <img src="@DisplayImage(item.prodpic.ProductPicture)"  width="200px" height="200px" />
                                        </a>
                                    </div>
                                    <div class="product-dsc">
                                        <h3><a href="#">@item.ProductName</a></h3>
                                        <div class="star-price">
                                            <span class="price-left">$@item.UnitPrice</span>
                                        </div>
                                    </div>
                                    <div class="actions-btn">
                                        <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                        <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="AddToCart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                        @*加入購物車*@
                                    </div>
                                </div>
                                
                            </div>
                        <!-- quick view end -->

                       } }
                </div>
            </div>
            
            <!-- #endregion -->
            <!-- #region 分類1(衣服)-->
            <div class="tab-pane  fade in" id="clothings">
                <div id="tab-carousel-2" class="owl-carousel product-slider owl-theme">
                    @{foreach (var item in Model.product.Where(r => r.MainCategoryID== 1).Where(p=>p.Discontinued=="N"))
                      {
                            <div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@DisplayImage(item.prodpic.ProductPicture)" />
                                            <img class="secondary-image" alt="Product Title" src="~/Content/Product/img/products/11.jpg">
                                        </a>
                                    </div>
                                    <div class="product-dsc">
                                        <h3><a href="#">@item.ProductName</a></h3>
                                        <div class="star-price">
                                            <span class="price-left">$ @item.UnitPrice</span>
                                        </div>
                                    </div>
                                    <div class="actions-btn">
                                        <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                        <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="Addtosession/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <!-- #endregion -->
            <!-- #region 分類2(鞋子)-->
            <div class="tab-pane  fade in" id="shoes">
                <div id="tab-carousel-3" class="owl-carousel product-slider owl-theme">
                    @{foreach (var item in Model.product.Where(r => r.MainCategoryID == 2).Where(p => p.Discontinued == "N"))
                        {

                            <div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@DisplayImage(item.prodpic.ProductPicture)" />
                                            <img class="secondary-image" alt="Product Title" src="~/Content/Product/img/products/11.jpg">
                                        </a>
                                    </div>
                                    <div class="product-dsc">
                                        <h3><a href="#">@item.ProductName</a></h3>
                                        <div class="star-price">
                                            <span class="price-left">$ @item.UnitPrice</span>
                                        </div>
                                    </div>
                                    <div class="actions-btn">
                                        <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                        <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="Addtosession/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- #endregion -->
            <!-- #region 分類3(包包) -->
            <div class="tab-pane  fade in" id="bags">
                <div id="tab-carousel-4" class="owl-carousel product-slider owl-theme">
                    @{foreach (var item in Model.product.Where(r => r.MainCategoryID== 3).Where(p => p.Discontinued == "N"))
                        {

                            <div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@DisplayImage(item.prodpic.ProductPicture)" />
                                            <img class="secondary-image" alt="Product Title" src="~/Content/Product/img/products/11.jpg">
                                        </a>
                                    </div>
                                    <div class="product-dsc">
                                        <h3><a href="#">@item.ProductName</a></h3>
                                        <div class="star-price">
                                            <span class="price-left">$ @item.UnitPrice</span>
                                        </div>
                                    </div>
                                    <div class="actions-btn">
                                        <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                        <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="Addtosession/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- #endregion -->
            <!-- #region 分類4(飾品) -->
            <div class="tab-pane  fade in" id="accessories">
                <div id="tab-carousel-5" class="owl-carousel product-slider owl-theme">
                    @{foreach (var item in Model.product.Where(r => r.MainCategoryID == 4).Where(p => p.Discontinued == "N"))
                        {
                            
                            <div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@DisplayImage(item.prodpic.ProductPicture)" />
                                            <img class="secondary-image" alt="Product Title" src="~/Content/Product/img/products/11.jpg">
                                        </a>
                                    </div>
                                    <div class="product-dsc">
                                        <h3><a href="#">@item.ProductName</a></h3>
                                        <div class="star-price">
                                            <span class="price-left">$ @item.UnitPrice</span>
                                        </div>
                                    </div>
                                    <div class="actions-btn">
                                        <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                        <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="Addtosession/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- #endregion -->
        </div>
    </div>
</section>
<!-- testimonials section end -->
<!-- #endregion-->
<!-- #region new-products section start -->
<section class="new-products single-products section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h3>過去的團購商品</h3>
                    <div class="section-icon">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="new-products" class="owl-carousel product-slider owl-theme">
                @foreach(var item in Model.product.Where(Q=>Q.Discontinued=="Y"))
                 {
                    <div class="col-xs-12">
                        <div class="single-product">
                            <div class="product-img">
                                <div class="pro-type">
                                    <span>OVER</span>
                                </div>
                                <a href="#">
                                    <img src="@DisplayImage(item.prodpic.ProductPicture)" width="200px" height="200px"/>
                                </a>
                            </div>
                            <div class="product-dsc">
                                <h3><a href="#">@item.ProductName"(活動已結束)"</a></h3>
                                <div class="star-price">
                                    <span class="price-left">$@item.UnitPrice</span>
                                    <span class="star-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</section>
<!-- new-products section end -->
<!-- #endregion-->
<!-- #region quick view start -->
<div class="quick-view modal fade in" id="quick-view">
    <div class="container">
        <div class="row">
            <div id="view-gallery" class="owl-carousel product-slider owl-theme">
                @foreach (var item in Model.product.Where(p=>p.Discontinued=="N"))
                {
                    <!-- single-product item end -->
                    <div class="col-xs-12">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <div class="modal-dialog">
                                    <div class="main-view modal-content">
                                        <div class="modal-footer" data-dismiss="modal">
                                            <span>x</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-5">
                                                <div class="quick-image">
                                                    <div class="single-quick-image tab-content text-center">
                                                        <div class="tab-pane  fade in active" id="sin-pro-5">
                                                            <img src="@DisplayImage(item.prodpic.ProductPicture)" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="quick-thumb">
                                                        <div class="nav nav-tabs">
                                                            <ul>
                                                                <li><a data-toggle="tab" href="#sin-pro-5"> <img src="@DisplayImage(item.prodpic.ProductPicture)" alt="quick view" /> </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="quick-right">
                                                    <div class="quick-right-text">
                                                        <h3><strong>@item.ProductName</strong></h3>

                                                        <div class="amount">
                                                            <h4>$ @item.UnitPrice</h4>
                                                        </div>
                                                        <p>@item.Description</p>
                                                        <div class="row m-p-b">
                                                            <div class="col-sm-6">
                                                                <div class="por-dse">
                                                                    <ul>
                                                                        <li><span>庫存</span><strong>:</strong>@item.Stock</li>
                                                                        <li><span>商品狀態</span><strong>:</strong>全新</li>
                                                                        @*<li><span>類別</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>*@
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="dse-btn">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="por-dse">
                                                                        <ul>
                                                                            <li class="share-btn qty clearfix">
                                                                                <span>數量</span>
                                                                                <form action="#" method="POST">
                                                                                    <div class="plus-minus">
                                                                                        <a class="dec qtybutton">-</a>
                                                                                        <input type="text" value="01" name="qtybutton" class="plus-minus-box">
                                                                                        <a class="inc qtybutton">+</a>
                                                                                    </div>
                                                                                </form>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="por-dse clearfix">
                                                                        <ul class="other-btn">
                                                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                                            <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                                                            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="por-dse add-to">
                                                                        <a href="Addtosession/@item.ProductID">加到購物車</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product item end -->
                }
            </div>
        </div>
    </div>
</div>
<!-- quick view end -->
<!-- #endregion -->