@model IEnumerable<sln_SingleApartment.ViewModel.CInformation>

@{
    Layout = "~/Views/Shared/Information_Layout.cshtml";
    ViewBag.Title = "窩的訊息";
    //string strTR = null;
    //int count = 0;
}

@functions{

    //int getCount(int num)
    //{
    //    num++;
    //    return num;
    //}
}

<style>

    .button_style {
        height: unset;
        background-color: transparent;
        color: #428bca;
        font-size: 15px;
    }
</style>

<!-- Header -->
<!-- Menu -->
<!-- Main -->
<section id="main" class="wrapper" style="padding:1em">
    <!--style="border:solid 1px;border-color:black"-->
    @*<div class="inner">*@
    <header class="align-center">
        <h1 style="font-size:2em;font-weight:700;line-height:1.3">我的訊息中心</h1>
        @*<div id="timer"></div>*@
    </header>
    @*=================================================================*@
    <p>

    </p>
    @*=================================================================*@
    @*<h4>Alternate</h4>*@
    @*<table class="alt" style="width:100%;">
            <tr style="background-color:unset;">
                <td style="border-style:none;">
                    <a id="id_type1" class="btn" style="font-size:16px" onclick="queryData('Low','Null','999','N');">系統分類</a>
                </td>
                <td style="border-style:none;">
                    <a id="id_type2" class="btn" style="font-size:16px" onclick="queryData('Low','Null','999','N');">訊息內容分類</a>
                </td>
                <td style="border-style:none;">
                    <a id="id_type3" class="btn" style="font-size:16px" onclick="queryData('Low','Null','999','N');">關鍵字</a>
                </td>
                <td style="border-style:none;">
                    <a id="id_type4" class="btn" style="font-size:16px" onclick="queryData('Low','Null','999','N');">個人分類</a>
                </td>
            </tr>
        </table>*@

    <div class="row" style="width:1100px;margin:auto;margin-bottom:25px;margin-top:25px;">
        <div class="col">
            <h4 style="margin-left:0.75em">進階查詢：</h4>
        </div>
        <div class="col">
            <button id="id_type1" class="btn button_style" style="font-size: 16px;margin-left:35px" onclick="showTypeDiv('1');">已讀/未讀</button>
        </div>
        <div class="col">
            <button id="id_type2" class="btn button_style" style="font-size: 16px;" onclick="showTypeDiv('2');">優先等級</button>
        </div>
        <div class="col">
            <button id="id_type3" class="btn button_style" style="font-size: 16px;" onclick="showTypeDiv('3');">系統分類</button>
        </div>
        <div class="col">
            <button id="id_type4" class="btn button_style" style="font-size: 16px;" onclick="showTypeDiv('4');">訊息內容分類</button>
        </div>
        <div class="col">
            <button id="id_type5" class="btn button_style" style="font-size: 16px;" onclick="showTypeDiv('5');">關鍵字</button>
        </div>
        <div class="col">
            <button id="id_type6" class="btn button_style" style="font-size: 16px;" onclick="showTypeDiv('6');">個人分類</button>
        </div>
        <div class="col">
            <button id="id_type7" onclick="showTypeDiv('7');" class="btn btn-info" style="font-size:16px;height:unset;background-color:transparent;color:#428bca">新活動通知</button>
        </div>
    </div>

    <div class="row" style="margin-top:0px;margin-bottom:20px;" hidden="hidden">
        @*style="border: 2px green solid"*@
        <div class="col" style="width:160px" hidden="hidden">
            <select id="txtQueryType" style="display:inline;line-height:3em;height:3em">
                >
                <option value="999">選擇查詢方式</option>
                <option value="100">1.依系統分類</option>
                <option value="200">2.依個人分類</option>
                <option value="400">3.依訊息內容分類</option>
                <option value="300">4.依關鍵字</option>
                <option value="500">5.依當日新訊息</option>
            </select>
        </div>
        <div class="col" hidden="hidden">
            <span style="font-weight:500">1.系統分類:</span>
            @*@Html.DropDownList("txtInfoClass", (IEnumerable<SelectListItem>)ViewBag.InforListItem, new { onchange = "select_change();", style = "display:inline;width:250px;line-height:3em;height:3em" })*@
            <select id="txtSystemCategory" style="display:inline;width:150px;line-height:3em;height:3em"></select>
        </div>
        <div class="col" hidden="hidden">
            @*<span style="font-weight:500">2.個人分類:</span>
                <select id="txtUserCategory" style="display:inline;width:150px;line-height:3em;height:3em"></select>
                @Html.ActionLink("新增個人分類", "UserCategoryList", null, new { @class = "btn btn-info" })*@
        </div>

        @*</div>*@
        @*<div class="row" style="margin-bottom:15px;margin-top:10px">*@
        <div class="col" style="margin-left:160px" hidden="hidden">
            <span style="font-weight:500">3.訊息內容分類:</span>
            <select id="txtInfoContent" style="display:inline;width:150px;line-height:3em;height:3em"></select>
        </div>
        <div class="col">
            @*<span style="font-weight:500">4.關鍵字: </span>*@
            @*@Html.TextBox("txtKeyword", null, new { style = "display:inline;width:100px;line-height:3em;height:3em" })
                <button onclick="multiQueryData();" class="btn btn-info" style="height:unset;">查詢</button>*@
        </div>
    </div>
    <div class="row" style="width:1100px;margin:0 auto;">
        @*style="border:2px #46b8da solid;width:150px;border-radius:20px"*@
        @*=動態區塊2 優先等級======================================================*@
        <div id="id_divAdvance2" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">優先等級</div>
            <button class="btn button_style" onclick="queryData('ALL','N','999','N')">全部</button>
            <div>
                <button class="btn button_style" onclick="queryData('High','Null','999','N');">高</button>
            </div>
            <div>
                <button class="btn button_style" onclick="queryData('Normal','Null','999','N');">中</button>
            </div>
            <div>
                <button class="btn button_style" onclick="queryData('Low','Null','999','N');">低</button>
            </div>
        </div>
        @*=動態區塊2 優先等級======================================================*@

        @*=動態區塊1 已讀/未讀======================================================*@
        <div id="id_divAdvance1" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">已讀/未讀</div>
            <button id="AA900" class="btn button_style" onclick="clickReadYN_ALL();">全部</button>
            <div>
                <button id="AA100" class="btn button_style" onclick="clickReadYN_Y();">已讀</button>
            </div>
            <div>
                <button id="AA200" class="btn button_style" onclick="clickReadYN_N();">未讀</button>
            </div>
        </div>
        @*=動態區塊1 已讀/未讀======================================================*@
        @*=動態區塊3 系統分類======================================================*@
        <div id="id_divAdvance3" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">系統分類</div>
            <button class="btn button_style" style="margin-left:0" onclick="queryData('ALL','N','999','N')">全部</button>
            <div>
                <button class="btn button_style" onclick="two_multiQueryData('100','100');">產品類</button>
            </div>
            <div>
                <button class="btn button_style" onclick="two_multiQueryData('100','200');">活動類</button>
            </div>
            <div>
                <button class="btn button_style" onclick="two_multiQueryData('100','300');">團購類</button>
            </div>
            <div>
                <button class="btn button_style" onclick="two_multiQueryData('100','400');">其他類</button>
            </div>
        </div>
        @*=動態區塊3 系統分類======================================================*@

        @*=動態區塊4 訊息內容分類==================================================*@
        <div id="id_divAdvance4" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">訊息內容分類</div>
            <button id="A90000" class="btn button_style" onclick="queryData('ALL','N','999','N')">全部</button>
            <div>
                <button id="A20010" class="btn button_style" onclick="two_multiQueryData('400','20010');">新活動上架</button>
            </div>
            <div>
                <button id="A20030" class="btn button_style" onclick="two_multiQueryData('400','20030');">發起新活動完成</button>
            </div>
            <div>
                <button id="A20040" class="btn button_style" onclick="two_multiQueryData('400','20040');">有新活動可以參加</button>
            </div>
            <div>
                <button id="A30010" class="btn button_style" onclick="two_multiQueryData('400','30010');">商品訂單成立</button>
            </div>
            <div>
                <button id="A30020" class="btn button_style" onclick="two_multiQueryData('400','30020');">商品訂單取消</button>
            </div>
            <div>
                <button id="A40010" class="btn button_style" onclick="two_multiQueryData('400','40010');">關注房加入最愛</button>
            </div>
            <div>
                <button id="A40020" class="btn button_style" onclick="two_multiQueryData('400','40020');">訂房成功</button>
            </div>
            <div>
                <button id="A40030" class="btn button_style" onclick="two_multiQueryData('400','40030');">訂房取消</button>
            </div>
            <div>
                <button id="A40040" class="btn button_style" onclick="two_multiQueryData('400','40040');">空房通知</button>
            </div>
        </div>
        @*=動態區塊4 訊息內容分類==================================================*@

        @*=動態區塊5 關鍵字========================================================*@
        <div id="id_divAdvance5" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">關鍵字</div>
            <div style="padding-left:0.75em">
                @Html.TextBox("txtKeyword", null, new { style = "display:inline;width:100px;line-height:3em;height:3em" })
            </div>
            <br />
            <div style="padding-left:0.75em">
                <button onclick="two_multiQueryData('300','XXXXX');" class="btn btn-info" style="height:unset;">查詢</button>
            </div>
        </div>
        @*=動態區塊5 關鍵字========================================================*@

        @*=動態區塊6 個人分類======================================================*@
        <div id="id_divAdvance6" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">個人分類</div>
            <div style="padding-left:0.75em">
                <select id="txtUserCategory" onchange="two_multiQueryData('200','XXXXX');" style="display:inline;line-height:3em;height:3em"></select>
            </div>
            <br />
            <div style="padding-left:0.75em" hidden="hidden" >
                <button onclick="two_multiQueryData('200','XXXXX');" class="btn btn-info" style="height:unset;">查詢</button>
            </div>
            <br />
            <div style="padding-left:0.75em">
                @Html.ActionLink("新增個人分類", "UserCategoryList", null, new { @class = "btn btn-info" })
            </div>
        </div>
        @*=動態區塊6 個人分類======================================================*@

        @*=動態區塊7 最新消息+訊息內容分類==================================================*@
        <div id="id_divAdvance7" hidden="hidden" style="width:170px;">
            <div style="color:#727a82;font-size:16px;font-weight:700;padding:0 0.75em 0.75em 0.75em;text-align:left;margin:2px">最新訊息</div>
            <button id="N90000" class="btn button_style" onclick="queryData('ALL','N','500','N');">全部</button>
            <div>
                <button id="N20010" class="btn button_style" onclick="two_multiQueryData('500','20010');">新活動上架</button>
            </div>
            <div>
                <button id="N20030" class="btn button_style" onclick="two_multiQueryData('500','20030');">發起新活動完成</button>
            </div>
            <div>
                <button id="N20040" class="btn button_style" onclick="two_multiQueryData('500','20040');">有新活動可以參加</button>
            </div>
            <div>
                <button id="N30010" class="btn button_style" onclick="two_multiQueryData('500','30010');">商品訂單成立</button>
            </div>
            <div>
                <button id="N30020" class="btn button_style" onclick="two_multiQueryData('500','30020');">商品訂單取消</button>
            </div>
            <div>
                <button id="N40010" class="btn button_style" onclick="two_multiQueryData('500','40010');">關注房加入最愛</button>
            </div>
            <div>
                <button id="N40020" class="btn button_style" onclick="two_multiQueryData('500','40020');">訂房成功</button>
            </div>
            <div>
                <button id="N40030" class="btn button_style" onclick="two_multiQueryData('500','40030');">訂房取消</button>
            </div>
            <div>
                <button id="N40040" class="btn button_style" onclick="two_multiQueryData('500','40040');">空房通知</button>
            </div>
        </div>

        <div id="id_divAdvance8" style="width:170px;color:white">
            空白區塊
        </div>
        @*=動態區塊7 最新消息+訊息內容分類==================================================*@

        <div style="width:900px">
            <div id="container" class="table-wrapper">
                @*要分頁的table*@
                @*要分頁的table*@
                @*要分頁的table*@
            </div>
        </div>
    </div>
    @*=================================================================*@
    @*<p> Aenean iaculis, neque sed preti</p>*@
    @*</div>*@
</section>

<!-- Footer -->

<script>
        //$(function () {
        //    console.log("onload = "+$("#id_priority").val());
        //})

        function two_multiQueryData(f_type, f_data) {
            //console.log("txtSystemCategory=" + $("#txtSystemCategory").val());
            //console.log("txtKeyword=" + $("#txtKeyword").val());

            if (f_type == "999") {
                f_data = "N";
            }
            else if (f_type == "100") {
                //系統分類
            }
            else if (f_type == "200") {
                //個人分類
                f_data = $('#txtUserCategory').val();
            }
            else if (f_type == "300") {
                //關鍵字
                f_data = $('#txtKeyword').val();
            }
            else if (f_type == "400") {
                //依訊息內容分類
            }
            else if (f_type == "500") {
                //5.依當日新訊息
                //f_data = "OK";
            }

            //重新查詢
            queryData($('#id_priority').val(), $('#id_read_yn').val(), f_type, f_data);
            //queryData("Low", "Null", "999", "N");
        }

        //<option value="999">請選擇查詢項目</option>
        //    <option value="100">系統分類</option>
        //    <option value="200">個人分類</option>
        //    <option value="300">關鍵字</option>
        //    <option value="400">訊息內容分類</option>
        //    <option value="500">當日新訊息</option>
        //no use
        function multiQueryData() {
            //console.log("txtSystemCategory=" + $("#txtSystemCategory").val());
            //console.log("txtKeyword=" + $("#txtKeyword").val());
            var f_data;
            //console.log($('#txtQueryType'));
            if ($('#txtQueryType').val() == "999") {
                f_data = "N";
            }
            else if ($('#txtQueryType').val() == "100") {
                //系統分類
                f_data = $('#txtSystemCategory').val();
            }
            else if ($('#txtQueryType').val() == "200") {
                //個人分類
                f_data = $('#txtUserCategory').val();
            }
            else if ($('#txtQueryType').val() == "300") {
                //關鍵字
                f_data = $('#txtKeyword').val();
            }
            else if ($('#txtQueryType').val() == "400") {
                //依訊息內容分類
                f_data = $('#txtInfoContent').val();
            }
            else if ($('#txtQueryType').val() == "500") {
                //5.依當日新訊息
                f_data = "OK";
            }

            //重新查詢
            queryData($('#id_priority').val(), $('#id_read_yn').val(), $('#txtQueryType').val(), f_data);
            //queryData("Low", "Null", "999", "N");
        }

        //共用查詢
        function queryData(f_priority, f_read_yn, f_query_type, f_data) {
                //url: "/Information/ListPaging?pageNum=1&p_priority=" + p_priority + "&p_read_yn=" + p_read_yn,
                $.ajax({
                    url: "/Information/ListPaging?pageNum=1",
                    type: "POST",
                    data: {
                        p_priority: f_priority,  //傳遞參數
                        p_read_yn: f_read_yn,
                        p_query_type: f_query_type,
                        p_data: f_data
                    },
                    success: function (data) {
                        //console.log(data); //可先測試程式有無載入
                        //載入 partialview
                        $("#container").html(data);
                    }
                });
        }

        @*function select_change() {
            //return confirm('確定要刪除嗎?');
            //window.location.href = '@Url.Action("List")';
            //window.location.href = "/Information/List?read_yn='Y'&info_category=100";
        }*@

        //$("#show_msg").click(function () {
        //    //$("tr").after("<u>Hello</u>")   //ok的語法
        //    var str_f = "<tr><td rowspan='2'>訊息內容</td><td colspan='4' rowspan='2'>訊息內容訊息內容</td>" +
        //        "<td>1內容訊息</td></tr> <tr><td>2內容訊息</td></tr>"
        //    //$(this).parents("tr").after("<u>Hello</u>")
        //    $(this).parents("tr").after(str_f)
        //    //$(this).hide();
        //});

        function updateDeleteMsg(p_id) {
            var msg = "您真的確定要刪除嗎？";
            if (confirm(msg) == true) {

                //Status修改為N  //url: "/Information/NameCity?name=jony&city=taipei",
                $.ajax({
                    url: "/Information/update_status?id=" + p_id,
                    type: "POST",
                    success: function (data) {
                        //$(".td_id").append(data);

                        //重新查詢  $('#id_priority').val()  $('#id_read_yn').val() 存放暫存資料
                        queryData($('#id_priority').val(), $('#id_read_yn').val(), "999","N");
                    }
                });

                //不可以寫在此處, 要寫在 success:function(){}裡
                //queryData($('#id_priority').val(), $('#id_read_yn').val());

                //return true;
            } else {
                //window.event.preventDefault();  //取消事件
                //return false;
            }

            //alert("How are you");
            //return confirm('確定要刪除嗎?');
        }
        //$(".delete_btn").click(function () {
        //});

        //使用這按下[訊息]鈕, 預設flag="true"
        function showTable(obj, p_message, p_id, p_source) {
            //$("tr").after("<u>Hello</u>")   //ok的語法
            //$(this).parents("tr").after("<u>Hello</u>") //ok的語法

            var str_f = "<tr style='font-size:15px'><td rowspan='2'>訊息內容</td><td colspan='5' rowspan='2'>" + p_message + "</td>" +
                "<td class='td_id'>訊息內容分類</td></tr>" +
                "<tr style='font-size:15px'><td>" + p_source + "<button onclick='removeTr(this)' hidden style='font-weight:bold;height:unset;border-color:transparent;background-color:transparent;color:#5bc0de'>收合</button>" +
                "</td ></tr >";

            //console.log(str_f);
            //$(obj).attr('disabled', true);    //失效
            //console.log('修改前'+ $(obj).attr('flag'));
            ////$(obj).attr('flag', 'false');
            //console.log('修改後' + $(obj).attr('flag'));

            if ($(obj).attr('flag') == 'true') {
                $(obj).parents("tr").after(str_f); //動態加入 訊息資料tr
                $(obj).text("收合");
                //table tr 已讀則將此row的底色改為淺藍色
                $(obj).parent().parent().css('background-color', '#EEF9FC'); // "#E6F5FA");
                $(obj).attr('flag', 'false');  //改成 false

                //修改為已讀訊息  //url: "/Information/NameCity?name=jony&city=taipei",
                $.ajax({
                    url: "/Information/update_read_yn?id=" + p_id ,
                    type: "POST",
                    success: function (data) {
                        //$(".td_id").append(data);
                        //console.log(data)
                        GetCount_ReadYN();  //重讀訊息已讀/未讀筆數
                    }
                });
            }
            else {
                $(obj).parent().parent().next().remove(); //刪除下面第一個 tr
                $(obj).parent().parent().next().remove(); //刪除下面第二個 tr

                $(obj).text("訊息");
                $(obj).attr('flag', 'true');  //改成 false

                //$(obj).parent().parent().css('font-weight', 'bold')
                //$(obj).parent().parent().css('color', '#46b8da')
            }
        }

        //no use
        function removeTr(obj) {
            $(obj).parent().parent().prev().remove(); //動態刪除this的parent的前面tr
            $(obj).parent().remove();                 //動態刪除this的這個tr
            //$(obj).attr('disabled', false);    //有效
        }

        function showTypeDiv(p_type) {

            $("#id_divAdvance1").hide();
            $("#id_divAdvance2").hide();
            $("#id_divAdvance3").hide();
            $("#id_divAdvance4").hide();
            $("#id_divAdvance5").hide();
            $("#id_divAdvance6").hide();
            $("#id_divAdvance7").hide();
            $("#id_divAdvance8").hide();

            if (p_type == "1") {
                $("#id_divAdvance1").show();
            }
            else if (p_type == "2") {
                $("#id_divAdvance2").show();
            }
            else if (p_type == "3") {
                $("#id_divAdvance3").show();
            }
            else if (p_type == "4") {
                $("#id_divAdvance4").show();
            }
            else if (p_type == "5") {
                $("#id_divAdvance5").show();
            }
            else if (p_type == "6") {
                $("#id_divAdvance6").show();
            }
            else if (p_type == "7") {

                queryData('ALL', 'N', '500', 'N');  //查詢最新訊息
                $("#id_divAdvance7").show();
            }
        }

        function clickReadYN_ALL() {
            queryData('ALL', 'N', '999', 'N');
            GetCount_ReadYN();  //重讀訊息已讀/未讀筆數
        }

        function clickReadYN_Y() {
            queryData('Null', 'Y', '999', 'N');
            GetCount_ReadYN();  //重讀訊息已讀/未讀筆數
        }

        function clickReadYN_N() {
            queryData('Null', 'N', '999', 'N');
            GetCount_ReadYN();  //重讀訊息已讀/未讀筆數
        }

        function GetCount_ReadYN() {
            $.ajax({
                url: "/Information/GetActivityNotify_ReadYN",
                type: "POST",
                data: {
                    //activity_id: id
                    // AdminContent: p_apply
                },
                success: function (data) {
                    //console.log(data); //可先測試程式有無載入
                    if (data != "fail") {
                        //console.log(JSON.parse(data));
                        var objJson = JSON.parse(data);
                        //console.log(objJson);
                        for (var i = 0; i < objJson.length; i++) {
                            //console.log(JSON.parse(objJson[i]).ContentID);
                            //console.log(JSON.parse(objJson[i]).ContentName);
                            if (JSON.parse(objJson[i]).ContentID == "100")
                                $("#AA100").text("已讀(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "200")
                                $("#AA200").text("未讀(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "900")
                                $("#AA900").text("全部(" + JSON.parse(objJson[i]).ContentName + ")");
                        }
                    }
                },
                error: function () {
                    alert("There has been an error~");
                }
            });
        }

    //一啟動馬上執行
    $(function () {

            GetCount_ReadYN();  //重讀訊息已讀/未讀筆數

            //第一個 ajax 是List的分頁資料
            $.ajax({
                type: "POST",
                url: "@Url.Action("ListPaging", new { pageNum = 1})",
                success: function (data) {
                    //console.log(data); //可先測試程式有無載入
                    $("#container").html(data);
                }
            });

            ////傳Json字串給下拉式選單
            //$.ajax({
            //    type: "POST",
            //    url: "/Information/GetInformationCategory",
            //    success: function (data) {
            //        //console.log(data); //可先測試程式有無載入
            //        //$("#text1").html(data);
            //        var objJson = JSON.parse(data);
            //        //console.log(objJson);

            //        var selObj = $("#txtSystemCategory");
            //        selObj.append("<option value=999 selected>請選擇</option>");
            //        for (var i = 0; i < objJson.length; i++){
            //            //console.log(objJson[i].ID);
            //            //todo:ok 注意 value有使用''包起來
            //            selObj.append("<option value=" + objJson[i].ID + ">" + objJson[i].NAME + "</option>");
            //        }

            //        //var value = 100;
            //        //var text = "111";
            //        //selObj.append("<option value=" + value + ">" + text + "</option>");
            //        //selObj.append("<option value='200'>中文2</option>");
            //    }
            //});

            //傳Json字串給下拉式選單
            $.ajax({
                type: "POST",
                url: "/Information/GetUserCategory",
                success: function (data) {
                    //console.log(data); //可先測試程式有無載入
                    //$("#text1").html(data);
                    var objJson = JSON.parse(data);
                    //console.log(objJson);

                    var selObj = $("#txtUserCategory");
                    selObj.append("<option value=999 selected>未分類</option>");
                    for (var i = 0; i < objJson.length; i++) {
                        //console.log(objJson[i].ID);
                        //todo:ok 注意 value有使用''包起來
                        selObj.append("<option value=" + objJson[i].ID + ">" + objJson[i].NAME + "</option>");
                    }
                }
            });

            ////傳Json字串給下拉式選單 訊息內容分類
            //$.ajax({
            //    type: "POST",
            //    url: "/Information/GetInfoContent",
            //    success: function (data) {
            //        //console.log(data); //可先測試程式有無載入
            //        //$("#text1").html(data);
            //        var objJson = JSON.parse(data);
            //        //console.log(objJson);

            //        var selObj = $("#txtInfoContent");
            //        selObj.append("<option value=999 selected>請選擇</option>");
            //        for (var i = 0; i < objJson.length; i++) {
            //            //console.log(objJson[i].ID);
            //            //todo:ok 注意 value有使用''包起來
            //            selObj.append("<option value=" + objJson[i].ID + ">" + objJson[i].NAME + "</option>");
            //        }
            //    }
            //});

            //顯示當日的新活動訊息筆數
            $.ajax({
                type: "POST",
                url: "/Information/GetNewActivityNotify",
                success: function (data) {
                    //console.log(data); //可先測試程式有無載入

                    let f_data;
                    //f_data = "新活動通知(" + data + ")";
                    if (data=="0")
                        f_data = "新活動通知";  //訊息通知:目前沒有新訊息!
                    else
                        f_data = "您有 " + data + " 筆新訊息!";

                    $("#id_type7").text(f_data);
                    $("#N90000").text("全部(" + data + ")");   //新訊息全部
                }
            });

            //setInterval(function () {
            //    $("#timer").html(new Date().getSeconds());
            //}, 1000)
            //用秒數驗證
            
            $.ajax({
                 url: "/Information/GetActivityNotify_ContentCategory",
                type: "POST",
                data: {
                    //activity_id: id
                    // AdminContent: p_apply
                },
                success: function (data) {
                    //console.log(data); //可先測試程式有無載入
                    if (data != "fail") {
                        //console.log(JSON.parse(data));
                        var objJson = JSON.parse(data);
                        //console.log(objJson);
                        for (var i = 0; i < objJson.length; i++) {
                          //console.log(JSON.parse(objJson[i]).ContentID);
                          //console.log(JSON.parse(objJson[i]).ContentName);
                            if (JSON.parse(objJson[i]).ContentID == "20010" && JSON.parse(objJson[i]).ContentName !="0")
                               $("#N20010").text("新活動上架(" + JSON.parse(objJson[i]).ContentName+")");
                            else if (JSON.parse(objJson[i]).ContentID == "20030" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N20030").text("發起新活動完成(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "20040" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N20040").text("有新活動可以參加(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "30010" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N30010").text("商品訂單成立(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "30020" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N30020").text("商品訂單取消(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "40010" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N40010").text("關注房加入最愛(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "40020" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N40020").text("訂房成功(" + JSON.parse(objJson[i]).ContentName + ")");
                            else if (JSON.parse(objJson[i]).ContentID == "40030" && JSON.parse(objJson[i]).ContentName != "0")
                               $("#N40030").text("訂房取消(" + JSON.parse(objJson[i]).ContentName + ")");
                        }
                    }
                },
                error: function () {
                    alert("There has been an error~");
                }
            });
    });

</script>


