@model sln_SingleApartment.ViewModel.COrderMasterDetail

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/NewBack_Layout.cshtml";/*(12/1新增)*/
}

<!-- pages-title-start -->
<section class="contact-img-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text align-center">
                    <h2 class="page-title"><a href="https://vendor-stage.ecpay.com.tw/User/LogOn_Step1">所有訂單</a></h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pages-title-end -->
<!-- shopping-cart content section start -->
<div class="shopping-cart-area s-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="s-cart-all">
                    <div class="cart-form table-responsive">
                        @*<input type="text" id="SelectDate" value=""/>*@
                        <table id="shopping-cart-table" class="data-table cart-table">

                            <tr>
                                <th class="low7">訂單編號</th>
                                <th class="low7">總計</th>
                                <th class="low7">訂單日期</th>
                                <th class="low7">到貨日期</th>
                                <th class="low7">詳細訂單</th>
                                <th class="low7">取消訂單</th>
                                <th class="low7">付款狀態</th>
                            </tr>
                            @foreach (var item in Model.t_order)
                            {
                                <tr>
                                    @*會員編號*@
                                    <td class="sop-cart an-shop-cart">
                                        <a href="#"><img class="primary-image" alt="" src="img/products/10.jpg"></a>
                                        <a href="#">@Html.DisplayFor(modelItem => item.order_entity.OrderID)</a>
                                    </td>
                                    @*價錢*@
                                    <td class="sop-cart">
                                        <div class="tb-product-price font-noraure-3">
                                            <span class="amount"> @Html.DisplayFor(modelItem => item.TotalAmount)</span>
                                        </div>
                                    </td>
                                    @*訂單日期*@
                                    <td class="sop-cart">
                                        @Html.DisplayFor(modelItem => item.OrderDate)
                                    </td>
                                    @*到貨日期*@
                                    <td class="sop-cart">
                                        @Html.DisplayFor(modelItem => item.ArrivedDate)
                                    </td>
                                    <td class="sop-cart">
                                        <a onclick="SearchONEOrder(@item.OrderID)" class="btn btn-default orderdetail" href="#bookmark" style="background-color:#f6755e; border-color:#f6755e; text-decoration:none; color:white; line-height:2em;">訂單明細456</a>
                                    </td>
                                    <td class="sop-cart">

                                        @Html.ActionLink("取消訂單", "Delete", new { id = item.order_entity.OrderID }, new { @class = "btn btn-default", @style = " background-color:#5bc0de; border-color:#5bc0de; text-decoration:none; color:white; line-height:2em; " })

                                    </td>
                                    <td class="sop-cart">
                                        @Html.DisplayFor(modelItem => item.PayStatus)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="wc-proceed-to-checkout">
            <p class="return-to-shop">
                <a class="button wc-backward" onclick="history.back();">回到上一頁</a>
            </p>
        </div>
        <div id="bookmark"></div>
        <br /><br /><br /><br />
        <h1 style="position:relative; width:100%; text-align:center;"> 訂單明細 </h1>
    </div>
</div>
<!-- shopping-cart  content section end -->


<div class="shopping-cart-area s-cart-area" style="height:75%">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="s-cart-all">

                    <div id="OrderDetail">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('.orderdetail').click(function () {
            $('html, body').animate({
                scrollTop: $('#bookmark').offset().top
            }, 'slow');
        });

    })

    function SearchONEOrder(orderID) {
        console.log(orderID);
        $.ajax({
                type: "POST",
                url: "@Url.Action("PartialONEOrder","Product")",
                data: {
                    MemberID : "3",
                    OrderID: orderID
                },
                success: function (data) {
                    $("#OrderDetail").html(data);
                }
            });

    }

    $(document).ready(function () {
        $('table').css({
            "color": "#767d85",
            "font-size": "100%",
            "font": "inherit",
            "font-size": "22px",
            "border-collapse": "collapse",
            "border-spacing": "0"
        })



    })
</script>

