@model  sln_SingleApartment.ViewModels.CProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Room/_LayoutRoom.cshtml";
}

<p style="font-size:50px ; color:chocolate ; margin-left:100px" ><strong>活動團購商品</strong></p>

@using (Html.BeginForm("Create", "ProductBack", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <p style="font-size:25px ; color:chocolate ; margin-left:100px"><strong>新增商品</strong></p>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    
    <div class="form-group">
       
        <p class="control-label col-md-2">商品類別</p>
        <div class="col-md-10">
            @Html.DropDownList("SUBNAME", null, "", htmlAttributes: new { @class = "control-label col-md-10" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">團購數量(數量上限為活動人數)</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">您的活動編號</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActivityID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ActivityID, "", new { @class = "text-danger" })
        </div>
    </div>

    @*//上傳照片*@
    @*//============================================*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        </div>
        <input type="file" name="imgPhoto" />
    </div>
    @*//=============================================*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Home")
</div>