@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>

@{
    ViewBag.Title = "_BackPartialaAbtRoom";
    Layout = Layout = null;
}
<body>
    <div style=" border:2px solid black; margin:100px 80px 50px 230px; padding:40px; width:1200px;">

        @*<div>
            <button id="btnAdd" type="button" class="btn btn-info" style="">
                新增房間
            </button>
        </div>*@

        <!--如果有時間 做關鍵字的Partial View -->
        <div id="" style="margin-left:50px; margin-bottom:50px; width:1000px; padding-bottom:20px; ">
            
            <h3 style="margin-bottom:35px; text-align:center; ">查詢條件</h3>
            <span style="margin-left:60px; font-weight:500;">建案代號</span>
            @Html.TextBox("txtKeyword", null, new { @class = "txtkeybox", @id = "txtkeybox_b", style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

            <span style=" margin-left:15px; font-weight:500;"> 房號</span>
            @Html.TextBox("txtKeyword", null, new { @class = "txtkeybox", @id = "txtkeybox_r", style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

            <span style=" margin-left:35px; margin-left:15px; font-weight:500;">房客姓名</span>
            @Html.TextBox("txtKeyword", null, new { @class = "txtkeybox", @id = "txtkeybox_mn", style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

           

        </div>

        <div id="keyresult">

        </div>


        <table id="abtroomtable" style="width:1200px; margin:10px auto; padding:10px;  ">
            <tr style=" text-align:center; font-size:20px; ">

                <th>
                    @Html.DisplayNameFor(model => model.roomname)
                </th>

                <th>
                    房客姓名
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomtype)
                </th>
                <th>
                    房間風格
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rent)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.squarefootage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.floor)
                </th>
                <th>Information</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="font-size:18px; font-weight:400;">

                    <td>
                        @Html.DisplayFor(modelItem => item.roomname)
                    </td>


                    <td>
                        @foreach (var i in item.entity_room.Lease)
                        {
                            @Html.DisplayFor(modelItem => i.tMember.fMemberName)
                            <br>
                        }


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roomtype)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.entity_room.RoomStyle.RoomStyleName)
                    </td>

                    <td>
                        NT @Html.DisplayFor(modelItem => item.rent)


                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.squarefootage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.floor)
                    </td>
                    <td>
                        @*@Html.ActionLink("編輯", "BackRoomEdit", new { id = item.roomID }, new { @class = " btn btn-info" }) |*@
                        @Html.ActionLink("詳細資料", "BackRoomDetail", new { id = item.roomID }, new { @class = "btn btn-primary", style = "background-color:#5bc0de; border-color:#5bc0de;" }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.roomID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
        <div id="abtroomtable_pagelist" style="float:inherit; margin-left:480px;">
            @Html.PagedListPager((IPagedList)Model, x => Url.Action("BackRoomManage", new { Page = x }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>


    </div>

    <script>

        $(document).ready(function () {


            function SearchRoomByRoomName(keyword) {
                $.ajax({
                    url: "@Url.Action("BackPartialKeyWordResult")",
                    data: { keyword :keyword },
                    success: function (data) { $("#keyresult").html(data) }
                })


            }


            $('.txtkeybox').on("keydown", function (event) {
                if (event.key === "Enter") {
                    let k = $("#txtkeybox_b").val() + $("#txtkeybox_r").val() + $("#txtkeybox_mn").val();
                    console.log(k);
                    SearchRoomByRoomName(k);
                    $("#abtroomtable").fadeOut();
                    $("#abtroomtable_pagelist").fadeOut();
                } // Handle press

            })

            $('#abtroomtable').on("click", ".btn-danger", function () {
                $(this).parents("tr").remove();
            });

         
            $('h2').css({
                "margin-bottom": "35px",
                "margin-left": "60px"
            })

            $('h3').css({
                "color": "#1170b6",
                "margin-left": "60px"
            })

            $('#abtroomtable').css({
                "width": "1100px",
                "margin": "0px auto",
                "margin-left": "310px",
                "padding": "10px",
                "text-algin": "center"
            })

            $('#categorybtns').css({
                "float": "left",
                "width": "70px",
                "margin-top": "75px",
                "margin-left": "78px"
            })



        });


    </script>

</body>