@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<sln_SingelApartment.ViewModels.CLeaseViewModel>

    <table id="abtleasetable" style="width:1200px; margin:10px auto; ">
        <tr style="text-align:center; font-size:20px;">

            <th>
                合約序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entity_lease.Room.RoomName)
            </th>
            <th>
                房客姓名
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expirydate)
                <a onclick="OrderByExDate()" id="Myicon" style="color:black;"></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalrent)
            </th>

            <th>Information</th>
        </tr>



        @foreach (var item in Model)
        {

            <tr style="font-size:18px; font-weight:400;">

                <td>
                    @Html.DisplayFor(modelItem => item.leaseID)
                </td>

                <td>
                    @Html.DisplayFor(model => item.entity_lease.Room.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.entity_lease.tMember.fMemberName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startdate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.expirydate)
                </td>

                <td>
                    NT @Html.DisplayFor(modelItem => item.entity_lease.Room.Rent)
                </td>

                <td>
                    @Html.ActionLink("編輯合約", "BackLeaseEdit", new { id = item.leaseID }, new { @class = " btn btn-info" }) |

                    @Html.ActionLink("刪除合約", "BackLeaseDelete", "RoomBackend", new { id = item.leaseID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <div id="abtroomtable_pagelist" style="float:inherit; margin-left:480px;">

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("BackPartialGotoLease", new { page = page, keyword = ViewBag.keyword, Cname = ViewBag.Cname, Order = ViewBag.Order }),
  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
  new AjaxOptions()
  {
      HttpMethod = "Get",
      InsertionMode = InsertionMode.Replace,
      UpdateTargetId = "abttables",
  }
  ))

    </div>

    <script>
        $(function () {
            @{if (ViewBag.Order == "ExpiryDateD")
                {
                    @:$('#Myicon').html('<i class="fa fa-angle-down" width="40"></i>');
                }
                else
                {
                    @:$('#Myicon').html('<i class="fa fa-angle-up" width="40"></i>');
                }
            }


            $('h2').css({
                "margin-bottom": "35px",
                "margin-left": "60px"
            })

            $('h3').css({
                "color": "#1170b6",
                "margin-left": "60px"
            })

            $('#abtleasetable').css({
                "width": "1100px",
                "margin": "0px auto",
                "margin-left": "310px",
                "padding": "10px",
                "text-algin": "center"
            })

            $('#categorybtns').css({
                "float": "left",
                "width": "70px",
                "margin-top": "75px",
                "margin-left": "78px"
            })


        });
        function OrderByExDate() {

            $('#OrderCondition').val($('#OrderCondition').val() == "ExpiryDateD" ? "ExpiryDateA" : "ExpiryDateD");

            let k = $("#txtkeybox_b").val();
            let n = $("#txtkeybox_mn").val();
            SearchLeaseByKeyword(k, n);

        }
    </script>

