@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<sln_SingelApartment.ViewModels.CRoomStyleViewModel>

    <div style="margin-left:250px; margin-bottom:50px; width:1000px; padding-bottom:20px; ">
       
        <h3>房型總表</h3>
    </div>

    <div id="title">
        
    </div>
  

    <table id="abtleasetable" style="width:1000px; margin:10px auto; ">
        <tr style="background-color:lightblue; text-align:center;">

            <th>
                風格序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomStyleName)
            </th>
            <th></th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>

                <td>
                    @Html.DisplayFor(model => item.roomStyleName)
                </td>
              

                <td>
                    @Html.ActionLink("瀏覽圖片", "BackImageGalleryforRoomStyle", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("刪除房型", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    @*<div id="abtleasetable_pagelist" style="float:inherit; margin-left:480px;">
            @Html.PagedListPager((IPagedList)Model, x => Url.Action("BackRoomManage", new { Page = x }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>*@



