@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>


       
        <div id="origintable">
            <!--如果有時間 做關鍵字的Partial View -->
           
           
            <div id="original">
                <table id="abtroomtable" style="width:1200px; margin:10px auto; padding:10px;  ">
                    <tr style=" text-align:center; font-size:20px; ">

                        <th>
                            @Html.DisplayNameFor(model => model.roomname)
                        </th>
                        <th>
                            房客姓名
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.roomtype)
                        </th>
                        <th>
                            房間風格
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.rent)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.squarefootage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.floor)
                        </th>
                        <th>Information</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr style="font-size:18px; font-weight:400;">

                            <td>
                                @Html.DisplayFor(modelItem => item.roomname)
                            </td>


                            <td>
                                @foreach (var i in item.entity_room.Lease)
                                {
                                    @Html.DisplayFor(modelItem => i.tMember.fMemberName)
                                    <br>
                                }


                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.roomtype)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.entity_room.RoomStyle.RoomStyleName)
                            </td>

                            <td>
                                NT @Html.DisplayFor(modelItem => item.rent)


                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.squarefootage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.floor)
                            </td>
                            <td>
                                @*@Html.ActionLink("編輯", "BackRoomEdit", new { id = item.roomID }, new { @class = " btn btn-info" }) |*@
                                @Html.ActionLink("詳細資料", "BackRoomDetail", new { id = item.roomID }, new { @class = "btn btn-primary", style = "background-color:#5bc0de; border-color:#5bc0de;" }) |
                                @Html.ActionLink("刪除", "Delete", new { id = item.roomID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
                <div id="abtroomtable_pagelist" style="float:inherit; margin-left:480px;">
                   
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("BackPartialReturnRoomManage", new { page = page, keyword = ViewBag.keyword, Cname = ViewBag.Cname }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                    new AjaxOptions()
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "myContainer",
                    }
                    ))

                </div>
            
            </div>
        </div>
   <script>
     
       $('table').css({
           "width": "1100px",
           "margin": "0px auto",
           "margin-left": "310px",
           "padding": "10px",
           "text-algin": "center"
       })

       


   </script>
