@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>
@{
    ViewBag.Title = "_BackPartialKeyWordResult";
    Layout = null;
}

<body>
    <table id="abtroomtable" style="width:1000px; margin:10px auto; ">
        <tr style="background-color:lightblue; text-align:center;">

            <th>
                @Html.DisplayNameFor(model => model.roomname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.roomtype)
            </th>
            <th>
                房客姓名
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rent)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.squarefootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.floor)
            </th>
            <th>Information</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.roomname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.roomtype)
                </td>
                <td>
                    @foreach (var i in item.entity_room.Lease)
                    {
                        @Html.DisplayFor(modelItem => i.tMember.fMemberName)
                        <br>
                    }


                </td>

                <td>
                    NT @Html.DisplayFor(modelItem => item.rent)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.squarefootage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.floor)
                </td>
                <td>
                    @Html.ActionLink("編輯", "BackRoomEdit", new { id = item.roomID }, new { @class = " btn btn-info" }) |
                    @Html.ActionLink("詳細資料", "BackRoomDetail", new { id = item.roomID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.roomID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <div style="float:inherit; margin-left:480px;">
            @Html.PagedListPager((IPagedList)Model, x => Url.Action("BackRoomManage", new { Page = x }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
</body>
