@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>

@{
    ViewBag.Title = "BackRoomManage";
    Layout = "~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";
}

    <body>

        <div style=" margin:50px 80px 50px 80px; padding:40px;">
            <div style="float:left;">
                <div style="float:left;width:70px; margin-top:75px;">

                    <button id="btnCheckRoom" type="button" class="btn btn-group" style="margin-bottom:10px;">
                        房間總表
                    </button>
                    <button id="btnCheckLease" type="button" class="btn btn-group" style="margin-bottom:10px;">
                        合約總表
                    </button>
                    <button id="btnCheckRoomtype" type="button" class="btn btn-group" style="margin-bottom:10px;">
                        房型總表
                    </button>

                </div>

            </div>
            <div>
                <div style="margin-left:250px; margin-bottom:50px; width:1000px;   padding-bottom:20px; ">
                    <h2 style="margin-bottom:35px; text-align:center; ">查詢條件</h2>
                    <h3 style="color:#1170b6; margin-left:60px;">以下條件擇一即可</h3>
                    <span style="margin-left:60px; font-weight:500;">房間名稱</span>
                    @Html.TextBox("txtKeyword", null, new { @class = "txtkeybox", @id = "txtkeybox_b", style = "display:inline;width:150px;line-height:3em;height:3em;margin-left:15px;" })



                    <span style=" margin-left:35px; margin-left:15px; font-weight:500;">房客姓名</span>
                    @Html.TextBox("txtKeyword", null, new { @class = "txtkeybox", @id = "txtkeybox_mn", style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

                    <select id="txtQueryType" style="display:inline;line-height:3em;height:3em; float:right; margin-right:40px; font-weight:500;width:200px;  ">

                        <option value="999">選擇查詢方式...</option>
                        <option value="100">依建案分類</option>
                        <option value="200">依樓層分類</option>
                        <option value="400">依房型類型內容分類</option>

                    </select>


                </div>
            </div>

            <div id="myContainer"></div>
            <div id="abttables"></div>
            <div id="roomstylelist"></div>
        </div>

        <script>

        $(function () {
            $('#abttables').hide(); $('#roomstylelist').hide();
            //載入第一塊
            $.ajax({
                url: "@Url.Action("BackPartialReturnRoomManage")",
                dataType: "html",
                success: function (data) {
                    $('#myContainer').html(data);
                }
            })
            //載入第二塊
            $.ajax({
                url: "@Url.Action("BackPartialGotoLease")",
                dataType: "html",
                success: function (data) {
                    $('#abttables').html(data);
                }
            })
            //載入第三塊
            $.ajax({
                url: "@Url.Action("BackPartialGOtoRoomstyle")",
                dataType: "html",
                success: function (data) {
                    $('#roomstylelist').html(data);
                }
             })

            //=====切換顯示範圍======
            $('#btnCheckLease').on("click", function () {
                $('#myContainer').fadeOut();
                $('#roomstylelist').fadeOut();
                $('#abttables').fadeIn();
            });
            $('#btnCheckRoomtype').on("click", function () {
                $('#myContainer').fadeOut();
                $('#abttables').fadeOut();
                $('#roomstylelist').fadeIn();
            })
            $('#btnCheckRoom').on("click", function () {
                $('#roomstylelist').fadeOut();
                $('#abttables').fadeOut();
                $('#myContainer').fadeIn();
            })
            //=====切換顯示範圍======
        });


        </script>
        <input type="hidden" value="" id="OrderCondition">
        <script>
            function SearchLeaseByKeyword(keyword, Cname) {
                let odCondition = $('#OrderCondition').val();
                console.log("Infunciton");
                console.log(odCondition);
                $.ajax({
                    url: "@Url.Action("BackPartialGotoLease")",
                    dataType: "html",
                    data: { keyword: keyword, Cname: Cname, Order: odCondition },
                    success: function (data) {
                        $('#abttables').html(data);
                        $('#Myicon').html($('#OrderCondition').val() == "ExpiryDateD" ? '<i class="fa fa-angle-down" width="40"></i>' : '<i class="fa fa-angle-up" width="40"></i>');
                    }
                })
               
            }
            function SearchRoomByKeyword(keyword , Cname) {
                $.ajax({
                    url: "@Url.Action("BackPartialReturnRoomManage")",
                    dataType: "html",
                    data: { keyword: keyword, Cname: Cname },
                    success: function (data) {
                    $('#myContainer').html(data);
                }
            })
            }
            $(function () {
                $('.txtkeybox').on("keydown", function (event) {
                    if (event.key === "Enter") {
                        let k = $("#txtkeybox_b").val();
                        let n = $("#txtkeybox_mn").val();
                        SearchRoomByKeyword(k,n);
                        SearchLeaseByKeyword(k,n);

                    }
                })
            })

        </script>
    </body>