@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>

@{
    ViewBag.Title = "BackRoomManage";
    Layout = "~/Views/Shared/Back_Layout.cshtml";
}
<body>

    <div style="border:2px solid black; margin:50px 80px 50px 80px; padding:40px;">

        <button type="button" class="btn btn-info">
            @Html.ActionLink("新增房間", "BackCreateRoom", "RoomBackend")
        </button>

        <div style="margin-left:200px; margin-bottom:50px;">
            <span style="font-weight:500;"> 房號</span>
            @Html.TextBox("txtKeyword", null, new { style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

            <span style="margin-left:15px; font-weight:500;">合約到期日</span>
            @Html.TextBox("txtKeyword", null, new { style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })

            <span style="margin-left:15px; font-weight:500;">建案代號</span>
            @Html.TextBox("txtKeyword", null, new { style = "display:inline;width:100px;line-height:3em;height:3em;margin-left:15px;" })


            <select id="txtQueryType" style="display:inline;line-height:3em;height:3em; float:right; margin-right:200px; font-weight:500;width:200px;  ">

                <option value="999">選擇查詢方式...</option>
                <option value="100">依建案分類</option>
                <option value="200">依樓層分類</option>
                <option value="400">依房型類型內容分類</option>
                <option value="300">依關鍵字</option>
                <option value="500">依當日新訊息</option>
                <option value="500">顯示全部</option>
            </select>

        </div>


        @*<p style="background-color:lightblue; width:150px;">
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <table class="table" style="width:900px; margin:10px auto; ">
            <tr style="background-color:lightblue; text-align:center;">

                <th>
                    @Html.DisplayNameFor(model => model.roomname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.roomtype)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.rent)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.squarefootage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.floor)
                </th>
                <th>Information</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.roomname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.roomtype)
                    </td>

                    <td>
                        NT @Html.DisplayFor(modelItem => item.rent)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.squarefootage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.floor)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("詳細資料", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>

  

</body>