@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>

@{
    ViewBag.Title = "BackRoomDetail";
    Layout = "~/Views/Shared/Back_Layout.cshtml";
}
<body>
    <h3 style="margin-left:150px;"> XXX 房間資訊 </h3>

    <div style=" width:1000px; margin:30px auto;">

        <table class="table" style=" margin:10px auto; width:800px; ">
            <tr style="background-color:#afd0e7; ">

                <th>
                    @Html.DisplayNameFor(model => model.roomname)
                </th>
                <th>
                    房間設備
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomtype)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.rent)
                </th>
                <th>
                    建案名稱
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.squarefootage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.floor)
                </th>
                <th>編輯</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.roomname)
                    </td>

                    <td>
                        @foreach (var i in item.entity_room.RoomFacilities)
                        {
                            @Html.DisplayFor(modelItem => i.Facility.FacilityName) <br>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roomtype)
                    </td>

                    <td>
                        NT @Html.DisplayFor(modelItem => item.rent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.entity_room.BuildCase.BuildCaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.squarefootage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.floor)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "BackEditTheRoomDetail", new { id = item.roomID }) |

                        @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
    @*<div style="float:inherit; margin-left:480px;">
            @Html.PagedListPager((IPagedList)Model, x => Url.Action("BackRoomDetail", new { Page = x }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>*@

</body>