@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<sln_SingelApartment.ViewModels.CRoomViewModel>

@{
    ViewBag.Title = "BackRoomDetail";
      Layout = "~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";
}
<body>
    
    <h3 style="margin-left:150px;"> XXX 房間資訊 </h3>

    <div style=" width:1200px; margin:25px auto;">

        <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
            <div id="innerdiv" style="position:absolute;">
                <img id="bigimg" style="border:5px solid #fff;" src="" />
            </div>
        </div>

        <table class="table" style=" margin:10px auto; width:1200px; font-weight:400;">
            <tr style="background-color:#afd0e7; font-size:18px; ">
                <th>
                    房間照片
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.roomname)
                </th>
                <th>
                    房客姓名
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomtype)
                </th>
                <th>
                    風格
                </th>

                <th>
                    房間設備
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.rent)
                </th>
                <th>
                    建案名稱
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.squarefootage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.floor)
                </th>
                <th>編輯</th>
            </tr>



            @foreach (var item in Model)
            {
                <tr style="text-align:center; ">

                    @{
                        var filename = item.entity_room.RoomStyle.RoomStyleName + "-1.jpg";
                    }
                    <td>
                        <img class="pimg" src="~/Content/Room/images/roomstyle/@filename" alt="Alternate Text" style="width:300px; height:250px;" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.roomname)
                    </td>
                    <td>
                        @foreach (var i in item.entity_room.Lease)
                        {
                            @Html.DisplayFor(modelItem => i.tMember.fMemberName)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roomtype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.entity_room.RoomStyle.RoomStyleName)
                    </td>
                    <td>
                        @foreach (var i in item.entity_room.RoomFacilities)
                        {
                            @Html.DisplayFor(modelItem => i.Facility.FacilityName) <br>
                        }
                    </td>



                    <td>
                        NT @Html.DisplayFor(modelItem => item.rent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.entity_room.BuildCase.BuildCaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.squarefootage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.floor)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "BackEditTheRoomDetail", new { id = item.roomID }) |

                        @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>

        <input type="button" value="回到前一頁" class="btn btn-default" onclick="history.back()" />
    </div>
    @*<div style="float:inherit; margin-left:480px;">
        @Html.PagedListPager((IPagedList)Model, x => Url.Action("BackRoomDetail", new { Page = x }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>*@

    <script>
        $(function () {
            $(".pimg").click(function () {
                var _this = $(this);//將當前的pimg元素作為_this傳入函式
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });
        });



        function imgShow(outerdiv, innerdiv, bigimg, _this) {
            var src = _this.attr("src");//獲取當前點選的pimg元素中的src屬性
            $(bigimg).attr("src", src);//設定#bigimg元素的src屬性

            /*獲取當前點選圖片的真實大小，並顯示彈出層及大圖*/
            $("<img/>").attr("src", src).load(function () {
                var windowW = $(window).width();//獲取當前視窗寬度
                var windowH = $(window).height();//獲取當前視窗高度
                var realWidth = this.width;//獲取圖片真實寬度
                var realHeight = this.height;//獲取圖片真實高度
                var imgWidth, imgHeight;
                var scale = 1.8;//縮放尺寸，當圖片真實寬度和高度大於視窗寬度和高度時進行縮放

                if (realHeight > windowH * scale) {//判斷圖片高度
                    imgHeight = windowH * scale;//如大於視窗高度，圖片高度進行縮放
                    imgWidth = imgHeight / realHeight * realWidth;//等比例縮放寬度
                    if (imgWidth > windowW * scale) {//如寬度扔大於視窗寬度
                        imgWidth = windowW * scale;//再對寬度進行縮放
                    }
                } else if (realWidth > windowW * scale) {//如圖片高度合適，判斷圖片寬度
                    imgWidth = windowW * scale;//如大於視窗寬度，圖片寬度進行縮放
                    imgHeight = imgWidth / realWidth * realHeight;//等比例縮放高度
                } else {//如果圖片真實高度和寬度都符合要求，高寬不變
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth);//以最終的寬度對圖片縮放

                var w = (windowW - imgWidth) / 2;//計算圖片與視窗左邊距
                var h = (windowH - imgHeight) / 2;//計算圖片與視窗上邊距
                $(innerdiv).css({ "top": h, "left": w });//設定#innerdiv的top和left屬性
                $(outerdiv).fadeIn("fast");//淡入顯示#outerdiv及.pimg
            });

            $(outerdiv).click(function () {//再次點選淡出消失彈出層
                $(this).fadeOut("fast");
            });
        }
    </script>

</body>