@model sln_SingelApartment.ViewModels.CAboutRoomViewModel

@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/Room/_LayoutRoom.cshtml";
}


<body>
    <input type="hidden" id="case1" value="" />
    <input type="hidden" id="case2" value="" />
    <input type="hidden" id="case3" value="0" />
    <input type="hidden" id="case4" value="0" />

    <div id="condition" style="background-color: #edf2fb; width: 1000px; margin: 50px auto; text-align: center;">

        <form method="post" id="myform" style="background-color: #f2dfd7;">

            <ul class="list" style="background-color: #d7e0ea; font-size:18px;">
                <li style="font-weight:800; float:left;  margin-top:12px; width:100px; ">
                    建案：
                </li>
                @foreach (var item in Model.buildcaseViewModels)
                {
                    <li class="myli" style="width:140px; font-size:18px;">
                        <a class="txt" href="javascript:;" onclick="filter(this);" data-item="1" data-case="@item.ID" style="">@item.buildcasename</a>
                    </li>
                }
            </ul>

            <ul class="list" style="background-color: #d7e0ea; font-size:18px;">
                <li style="font-weight:800; float:left; margin-top:12px; width:100px;">
                    類型：
                </li>
                <li class="myli">
                    <a class="txt" href="javascript:;" onclick="filter(this);" data-item="2" data-case="1人房" >1人房</a>
                </li>
                <li class="myli">
                    <a class="txt" href="javascript:;" onclick="filter(this);" data-item="2" data-case="2人房">2人房</a>
                </li>
                <li class="myli">
                    <a class="txt" href="javascript:;" onclick="filter(this);" data-item="2" data-case="3人房">3人房</a>
                </li>
                <li class="myli">
                    <a class="txt" href="javascript:;" onclick="filter(this);" data-item="2" data-case="4人房">4人房</a>
                </li>
            </ul>

            <ul class="list" style="background-color: #d7e0ea; font-size:18px;">
                <li style="font-weight:800; float:left; margin-top:12px; width:100px;">
                    租金：
                </li>
                <li class="myli">
                    <a class="txt rentCuz" href="javascript:;" onclick="filter(this);" data-item="3" data-case="1">10000元以下</a>
                </li>
                <li class="mydi myli">
                    <a class="txt rentCuz" href="javascript:;" onclick="filter(this);" data-item="3" data-case="2">10000-20000元</a>
                </li>
                <li class="mydi myli">
                    <a class="txt rentCuz" href="javascript:;" onclick="filter(this);" data-item="3" data-case="3">20000-30000元</a>
                </li>
                <li class="mydi myli">
                    <a class="txt rentCuz" href="javascript:;" onclick="filter(this);" data-item="3" data-case="4">30000-40000元</a>
                </li>
                <li class="mydi myli">
                    <a class="txt rentCuz" href="javascript:;" onclick="filter(this);" data-item="3" data-case="5">40000元以上</a>
                </li>

            </ul>



            <ul class="list" style="background-color: #d7e0ea; font-size:18px;">
                <li style="font-weight:800; float:left;  margin-top:12px; width:100px;">
                    風格：
                </li>
                @foreach (var item in Model.roomStyleViewModels)
                {
                    <li class="myli">
                        <a class="txt" href="javascript:;" onclick="filter(this);" data-item="4" data-case="@item.ID">@item.entity_roomstyle.RoomStyleName</a>
                    </li>
                }
            </ul>


        </form>



    </div>


    <!--trending  start-->
    <div class="our-room text-center ptb-80 white-bg" style="background-color: #d7e0ea;">
        <div class="container">
            <div class="row" >
                <div class="col-md-12">
                    <div class="section-title mb-75">
                        <h2>
                            窩居
                            <span>熱門推薦</span>
                        </h2>

                    </div>
                </div>
            </div>

            <div class="our-room-show">
                <div class="row">
                    <div class="carousel-list">
                        @foreach (var item in Model.roomViewModels.Take(9))
                        {
                            <div class="col-md-4">
                                <div class="single-room">
                                    <div class="room-img">
                                        <a href="#"><img src="~/Content/Room/images/room/房型_單身套房.jpg" alt=""></a>
                                    </div>
                                    <div class="room-desc">
                                        <div class="room-name">
                                            <h3>
                                                <a href="#">@item.roomname</a>
                                            </h3>
                                        </div>
                                        <div class="room-rent">
                                            <h5>
                                                NT @item.rent /
                                                <span>晚</span>
                                            </h5>
                                        </div>
                                        <div class="room-book">
                                            <a href="#">更多...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--trending end-->

    <!--start browse-->
    <div id="searchresult" class="our-news text-center ptb-80 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2 style="margin-left:200px;">
                            搜尋
                            <span>結果</span>
                        </h2>
                        <select style="width:100px; float:right; margin-right:120px;">
                            <option style="background-color:#eceff8;">排序</option>
                            <option style="background-color:#eceff8;">坪數大->小</option>
                            <option style="background-color:#eceff8;">坪數小->大</option>
                            <option style="background-color:#eceff8;">租金小->大</option>
                            <option style="background-color:#eceff8;">租金大->小</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="news-list">
                <div class="row">
                    <div class="our-news-list owl-pagination">
                        <div class="single-view_post" id="ShowRooms">
                            @foreach (var item in Model.roomViewModels)
                            {
                                <div class="col-md-12 pb-80">
                                    @{
                                        DateTime? time = item.entity_room.BuildCase.BuildTimes;


                                    }
                                    <div class="news-inner">
                                        @*@{
                                                var fiilename = "房型_" + item.roomStyleName + ".jpg";
                                            }*@
                                        <div class="news-img">
                                            <img src="~/Content/Room/images/roomstyle/工業風-1.jpg" alt="@item.roomname">
                                            <div class="news-post">
                                                @*評價*@
                                                <div class="n-date">@time.ToString().AsDateTime().Date.ToShortDateString()</div>
                                                <div class="news-views">
                                                    <a name="@item.roomID" onclick="AddRoomToFavoriteList(@ViewBag.MemberID)">
                                                        <i class="mdi mdi-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-desc" style="background-color:#d7e0ea;">
                                            <h3 class="news-title">
                                                <a href="#">
                                                    @item.roomname
                                                </a>
                                            </h3>

                                            <p class="news_desc">建案： @item.entity_room.BuildCase.BuildCaseName  /  坪數：  @item.squarefootage   </p>
                                            <div class="news-action">
                                                <div class="read-more">
                                                    @*@Html.ActionLink("更多....", "ListRoomDetail", "Room",new { id=item.roomID})*@
                                                    <a href="~/Room/ListRoomDetail/@item.roomID">更多...</a>
                                                </div>
                                                <div class="news-share">
                                                    <p>Share:</p>
                                                    <a href="https://www.facebook.com/"><i class="mdi mdi-facebook"></i></a>
                                                    <a href="#"><i class="mdi mdi-rss"></i></a>
                                                    <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                                    <a href="https://www.instagram.com/accounts/login/"><i class="mdi mdi-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--start browse-->

    <script>
        $(function () {
            $('.myli').click(function () {
                $(this).css("background-color", "#e76f51")
                    .siblings().css("background-color", "#d7e0ea")
                $(this.firstElementChild).css("color", "white")
                $(this).find("a:first-child").css("color", "white")
                $(this).siblings().find("a:first-child").css("color", "#023e7d");
                console.log(this.innerText);
            });

            //$('a').click(function () {
            //    console.log(this.innerText);
            //});

            $('.mydi').css({
                "margin-left":"10px"
            })

            $('.txt').css({
                "color":"#023e7d",
                "font-weight": "500",
                "font-size": "14px",
                "width":"130px"
            })
            $('#condition').mouseleave(function () {
                $('html, body').animate({
                    scrollTop: $('#searchresult').offset().top
                }, 'slow');
            })

            $('#myform').css({
                "background-color":" #f2dfd7"
            })


        });

        var filter = function (e) {

            var elm = $(e);

            var data = {
                item: elm.data("item"),
                case: elm.data("case")
            };

            if (data.item == "1") {
                $("#case1").val(data.case);
            } else if (data.item == "2") {
                $("#case2").val(data.case);
            } else if (data.item == "3") {
                $("#case3").val(data.case);
            } else if (data.item == "4") {
                $("#case4").val(data.case);
            }

            var postData = {
                case1: $("#case1").val(),
                case2: $("#case2").val(),
                case3: $("#case3").val(),
                case4: $("#case4").val(),
            };

            $.ajax({
                url: "@Url.Action("GetSearchData", "Room")", //請求的url地址
                dataType: "json", //返回格式為json
                async: true, //請求是否非同步，預設為非同步，這也是ajax重要特性
                data: postData, //引數值
                type: "POST", //請求方式
                beforeSend: function () {
                    //請求前的處理
                },
                success: function (req) {
                    //請求成功時處理
                    console.log(req);

                    $("#ShowRooms").html(req.html);
                },
                complete: function () {
                    //請求完成的處理
                },
                error: function () {
                    //請求出錯處理
                }
            });

            //console.log(elm.data("case"));

        }

        @*加入我的最愛*@
        function AddRoomToFavoriteList(MemberID) {
        var roomID = $(event.currentTarget).prop("name");
        $.ajax({
                    url: '@Url.Action("AddRoomToFavorite", "Room")',
                    dataType: 'json',
                    data: JSON.stringify({
                        MemberID: MemberID,
                        RoomID: roomID
                        }),
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (data)
                    {
                        window.alert(JSON.parse(data).ans);
                    }
        })
    }


    </script>
</body>


