<head>
    <title>窩居公寓</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/HomePage/assets/css/main.css" rel="stylesheet" />
</head>

<body>
    <script src="~/Content/HomePage/js/jquery.min.js"></script>
    <script src="~/Content/HomePage/js/jquery.scrolly.min.js"></script>
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="#" class="logo"><img src="~/Content/HomePage/images/窩居字體設計7.png" width="200" style="margin-top:20px"></a>
        <nav class="right " style="margin-top:20px">
            @Html.ActionLink("Log Out", "LogOut", "Member", new { @class = "button alt" })
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links" id="isAdmin">
            <li><a href="../Member/Home">首頁</a></li>
            <li>@Html.ActionLink("尋找窩們的愛屋", "SearchPage", "Room")</li>
            <li>@Html.ActionLink("窩居商城", "Home", "Product")</li>
            <li>@Html.ActionLink("窩的訂單", "OrderList", "Product")</li>
            <li id="id_infoNotify">@Html.ActionLink("窩的訊息", "List", "Information")</li>
            <li>@Html.ActionLink("當窩們同在一起", "List", "Activity")</li>
            <li>@Html.ActionLink("會員中心", "MemberCenter", "Member")</li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>



    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>聯絡我們</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a>(02)6631-8168</a></li>
                <li><span class="icon fa-envelope"></span> <a>singleapart@gmail.com</a></li>
                <li><span class="icon fa-map-marker"></span> 06台北市大安區復興南路一段390號2樓</li>
            </ul>
        </div>

    </footer>
    @RenderSection("scripts", required: false)

    <!-- Scripts -->


    <script src="~/Content/HomePage/js/util.js"></script>
    <script src="~/Content/HomePage/js/skel.min.js"></script>
    <script src="~/Content/HomePage/js/main.js"></script>
</body>

<script>
    $(function () {
        //顯示當日的新活動訊息筆數
        $.ajax({
            type: "POST",
            url: "/Information/GetNewActivityNotify",
            success: function (data) {
                //console.log(data); //可先測試程式有無載入
                console.log("info_layout:" + data);
                let f_data;
                f_data = "窩的訊息(" + data + ")";
                $("#id_infoNotify").html("<a href='/Information/List'>" + f_data + "</a>");
            }
        });
    });

</script>